generated/xsd/ms/formLuxembourg/domicileAndOrResidenceForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formLuxembourg-1.0.xsd
    Generated On: 10/11/2017 16:07 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/luxembourg#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/luxembourg#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	
	xmlns:ms2forms_domicileAndOrResidenceForm="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"
			   schemaLocation="../../../xsd/common/core/forms/domicileAndOrResidenceForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="PreviousAddressType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains information about the previous address of a person.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
										<xsd:element name="PreviousAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
										
							<xsd:element name="FromTo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains the period in which the concerned person resided at this address.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="DomicileAndOrResidenceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_domicileAndOrResidenceForm:DomicileAndOrResidenceType">
			<xsd:sequence>
							
							<xsd:element name="Person" type="PersonType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is that of the class Person.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							
							<xsd:element name="PreviousAddress1" type="PreviousAddressType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is that of class PreviousAddress.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							
							<xsd:element name="PreviousAddress2" type="PreviousAddressType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is that of class PreviousAddress.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							
							<xsd:element name="PreviousAddress3" type="PreviousAddressType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is that of class PreviousAddress.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
									<xsd:element name="OtherPreviousAddresses" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains any additional previous addresses.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="NoteToReceivingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains a note to the receiving authority stating: "Data extracted from the National Register of Physical Persons in accordance with Article 4 of the Grand-Ducal Regulation of 29 March 2016 concerning certain certificates issued on the basis of the data contained in the National Register of Physical Persons (Memorial No. 52 of 31 March 2016). These data are certified accurate unless indicated by asterisk on a light gray background (*) of the public document to which this form is attached."
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FormDomicileAndOrResidenceLuxembourgType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
					
					<xsd:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class DomicileAndOrResidence.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property can contain any type of information.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->



