generated/xsd/ms/formLuxembourg/registeredPartnershipStatusForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formLuxembourg-1.0.xsd
    Generated On: 06/11/2017 17:41 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/luxembourg#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/luxembourg#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	
	xmlns:ms2forms_registeredPartnershipForm="http://data.europa.eu/edm/1/ns/forms/frmregisteredpartnership#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmregisteredpartnership#"
			   schemaLocation="../../../xsd/common/core/forms/registeredPartnershipForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="FormRegisteredPartnershipStatusLuxembourgType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype registeredPartnershipStatusForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"/>
					
				
				<xsd:element name="Body" type="RegisteredPartnershipStatusType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of the class RegisteredPartnershipStatus.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
					<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property can contain any type of information.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="RegisteredPartnershipStatusType">
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
												
														Stereotype registeredPartnershipStatusForm
											    </xsd:documentation>
											</xsd:annotation>
											<xsd:complexContent>
												<xsd:extension base="ms2forms_registeredPartnershipForm:RegisteredPartnershipType">
													<xsd:sequence>
																<xsd:element name="RegisteredPartnershipStatus" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipStatusChoiceType">
													</xsd:element>
													
															<xsd:element name="NoteForTheReceivingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																<xsd:annotation>
																    <xsd:documentation xml:lang="en">
																		This property contains a note to the receiving authority stating that "Under the amended law of 9 July 2004 on the legal effects of certain partnerships, the declaration of a registered partnership does not change the civil status of a person and does not constitute a cause of impediment to marriage."
																    </xsd:documentation>
																</xsd:annotation>
															</xsd:element>
																		
																			<xsd:element name="PartnerA" type="RegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1" >
																				<xsd:annotation>
																				    <xsd:documentation xml:lang="en">
																						The value of this property is that of class RegisteredPartnershipPerson.
																				    </xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			
																			
																							<xsd:element name="PartnerB" type="RegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1" >
																								<xsd:annotation>
																								    <xsd:documentation xml:lang="en">
																										The value of this property is that of the class RegisteredPartnershipPerson.
																								    </xsd:documentation>
																								</xsd:annotation>
																							</xsd:element>
																							
																				
													</xsd:sequence>
												</xsd:extension>
											</xsd:complexContent>
										</xsd:complexType>
<xsd:complexType name="RegisteredPartnershipStatusChoiceType">
																									<xsd:annotation>
																									    <xsd:documentation xml:lang="en">
																										This class contains information about the status of the concerned registered partnership.
																												Stereotype xsdChoice
																												Stereotype registeredPartnershipStatusForm
																									    </xsd:documentation>
																									</xsd:annotation>
																									<xsd:choice>
																														<xsd:element name="DissolutionByDenouncement" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																														<xsd:annotation>
																														    <xsd:documentation xml:lang="en">
																																The value of this property refers to a dissolved registered partnership and includes the date of dissolution and the partnership period.
																														    </xsd:documentation>
																														</xsd:annotation>
																													</xsd:element>
																																	<xsd:element name="DissolutionByMarriage" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																			<xsd:annotation>
																																			    <xsd:documentation xml:lang="en">
																																					The value of this property is that of a partnership being dissolved by the partner's marriage and includes the date of the marriage and the period of the partnership.
																																			    </xsd:documentation>
																																			</xsd:annotation>
																																		</xsd:element>
																																						<xsd:element name="DissolutionByDeath" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																								<xsd:annotation>
																																								    <xsd:documentation xml:lang="en">
																																										The value of this property is that of a registered partnership being dissolved by the death of a partner and includes the date of the death of the partner and the period of the partnership. 
																																								    </xsd:documentation>
																																								</xsd:annotation>
																																							</xsd:element>
																																							
																									</xsd:choice>
																								</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->



