generated/xsd/ms/formCroatia/domicileAndOrResidenceForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formCroatia-1.0.xsd
    Generated On: 09/11/2017 15:26 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/croatia#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/croatia#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	
	xmlns:ms2forms_domicileAndOrResidenceForm="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"
			   schemaLocation="../../../xsd/common/core/forms/domicileAndOrResidenceForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="DomicileAndOrResidenceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the domicile and/or residence of a person.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_domicileAndOrResidenceForm:DomicileAndOrResidenceType">
			<xsd:sequence>
								<xsd:element name="PurposeForIssuance" type="udt:TextType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the purpose for which a domicile and/or residence form has been issued.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
											
											<xsd:element name="Person" type="PersonType" minOccurs="1" maxOccurs="1" >
												<xsd:annotation>
												    <xsd:documentation xml:lang="en">
														The value of this property is that of class Person. 
												    </xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											
								
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FormDomicileAndOrResidenceCroatiaType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a domicile and/or residence form.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
									<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												The value of this property is that of class FormHeader.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
					
					<xsd:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is that of class DomicileAndOrResidence.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
						<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									This property contains information of any type.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->



