generated/xsd/common/codelist/pdc-codelist-Sex-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
<!-- ===== Imports======================================== -->
<xsd:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
		   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-BasicComponents-1.1.xsd"/>
<!-- ===================================================== -->

<xsd:complexType name="SexCodeListType">
  <xsd:simpleContent>
	<xsd:restriction base="cvb:PersonGenderCodeType">
	 	<xsd:enumeration value="female">
			<xsd:annotation>
			    <xsd:documentation>
					This property contains the female gender specification.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	 	<xsd:enumeration value="male">
			<xsd:annotation>
			    <xsd:documentation>
					This property contains the male gender specification.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	 	<xsd:enumeration value="undetermined">
			<xsd:annotation>
			    <xsd:documentation>
					This property contains the undetermined gender specification.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleContent>
</xsd:complexType>

<xsd:complexType name="SexType">
  <xsd:complexContent>
    <xsd:restriction base="SexCodeListType">
      <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="required" fixed="1.0" />
    </xsd:restriction>
  </xsd:complexContent>
</xsd:complexType>
</xsd:schema>
