generated/xsd/ms/formBelgium/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formBelgium-1.0.xsd
    Generated On: 09/11/2017 15:26 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/belgium#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/belgium#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	
	xmlns:ms2forms_maritalStatusForm="http://data.europa.eu/edm/1/ns/forms/frmmaritalstatus#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmmaritalstatus#"
			   schemaLocation="../../../xsd/common/core/forms/maritalStatusForm-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="MaritalStatusType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_maritalStatusForm:MaritalStatusType">
			<xsd:sequence>
								<xsd:element name="Disclaimer" type="udt:TextType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of string type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
												<xsd:element name="DateOfLegalSeparation" type="udt:DateType" minOccurs="1" maxOccurs="1" >
													<xsd:annotation>
													    <xsd:documentation xml:lang="en">
															The value of this property is of date type.
													    </xsd:documentation>
													</xsd:annotation>
												</xsd:element>
																				<xsd:element name="SpouseOrEx" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
																				
												
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="PersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
								<xsd:element name="NobilityTitle" type="udt:TextType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of string type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
																<xsd:element name="Father" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
																
												<xsd:element name="DateOfRegistration" type="udt:DateType" minOccurs="1" maxOccurs="1" >
													<xsd:annotation>
													    <xsd:documentation xml:lang="en">
															The value of this property is of date type.
													    </xsd:documentation>
													</xsd:annotation>
												</xsd:element>
																				<xsd:element name="Mother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
																				
																<xsd:element name="Pseudonym" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																	<xsd:annotation>
																	    <xsd:documentation xml:lang="en">
																			The value of this property is of string type.
																	    </xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																								<xsd:element name="CoMother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
																								
																				<xsd:element name="TimeOfBirth" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
																					<xsd:annotation>
																					    <xsd:documentation xml:lang="en">
																							The value of this property is of time type.
																					    </xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																								<xsd:element name="NationalRegisterNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																									<xsd:annotation>
																									    <xsd:documentation xml:lang="en">
																											The value of this property is of string type.
																									    </xsd:documentation>
																									</xsd:annotation>
																								</xsd:element>
																								
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->



