generated/xsd/ms/formLithuania/domicileAndOrResidenceForm-1.0.xsd

	<?xml version="1.0" encoding="UTF-8"?>
	<!-- ===== Schema Header ================================= -->
	<!--	
		Document Type: xsd/ms/formLithuania-1.0.xsd
	    Generated On: 30/10/2017 14:27 
	-->
	<!-- ===================================================== -->
	<xsd:schema
		targetNamespace="http://data.europa.eu/edm/1/ns/forms/lithuania#"
		xmlns="http://data.europa.eu/edm/1/ns/forms/lithuania#"
		xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
		xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
		xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
		xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
		elementFormDefault="qualified"
		attributeFormDefault="unqualified"
		version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace=""
			   schemaLocation="null"/>
	<!-- ===================================================== -->
<xsd:complexType name="DomicileAndOrResidenceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="forms:DomicileAndOrResidenceType">
			<xsd:sequence>
							<xsd:element name="RecordInformation" type="RecordInformationType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class RecordInformation.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
										<xsd:element name="Addressee" type="cva:PersonType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class Person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="MinorChildrenDeclared" type="PlaceOfResidenceOfMinorChildrenType" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class PlaceOfResidenceOfMinorChildren.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>	
														<xsd:element name="BuildingNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
															<xsd:annotation>
															    <xsd:documentation xml:lang="en">
																	
															    </xsd:documentation>
															</xsd:annotation>
														</xsd:element>
																		<xsd:element name="ApartmentNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																			<xsd:annotation>
																			    <xsd:documentation xml:lang="en">
																					
																			    </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																					<xsd:element name="Municipality" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
																					
																		
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="PlaceOfResidenceOfMinorChildrenType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
										<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
														<xsd:element name="PersonalIdentificationCode" type="udt:TextType" minOccurs="1" maxOccurs="1" >
															<xsd:annotation>
															    <xsd:documentation xml:lang="en">
																	
															    </xsd:documentation>
															</xsd:annotation>
														</xsd:element>
																		<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1" >
																			<xsd:annotation>
																			    <xsd:documentation xml:lang="en">
																					
																			    </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																						<xsd:element name="DateOfDeclaration" type="udt:DateType" minOccurs="1" maxOccurs="1" >
																							<xsd:annotation>
																							    <xsd:documentation xml:lang="en">
																									
																							    </xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																						
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="FormDomicileAndOrResidenceLithuaniaType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="Header" type="forms:FormHeaderType" minOccurs="1" maxOccurs="1"/>
					
					<xsd:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class DomicileAndOrResidence.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
									<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property can contain any type of information.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
