generated/xsd/ms/formLithuania/marriageForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formLithuania-1.0.xsd
    Generated On: 09/11/2017 16:41 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/lithuania#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/lithuania#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	
	xmlns:ms2forms_marriageForm="http://data.europa.eu/edm/1/ns/forms/frmmarriage#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmmarriage#"
			   schemaLocation="../../../xsd/common/core/forms/marriageForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="SpouseType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a spouse.
				Stereotype marriageForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="PersonalIdentificationCode" type="udt:TextType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									This property contains information of type string concerning the personal identification code of a person.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
										<xsd:element name="Citizenship" type="udt:TextType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the citizenship of a spouse.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
																		<xsd:element name="Spouse" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
																		
										
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="MarriageType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a marriage.
				Stereotype marriageForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_marriageForm:MarriageType">
			<xsd:sequence>
							
							<xsd:element name="RecordInformation" type="RecordInformationType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class RecordInformation.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							
							<xsd:element name="SpouseA" type="SpouseType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class Spouse.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							
							<xsd:element name="SpouseB" type="SpouseType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class Spouse.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FormMarriageLithuaniaType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a marriage form.
				Stereotype marriageForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
					
					<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Marriage.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
						<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									This property can contain any type of information.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->



