generated/xsd/ms/formNetherlands/lifeForm-1.0.xsd

	<?xml version="1.0" encoding="UTF-8"?>
	<!-- ===== Schema Header ================================= -->
	<!--	
		Document Type: xsd/ms/formNetherlands-1.0.xsd
	    Generated On: 30/10/2017 14:27 
	-->
	<!-- ===================================================== -->
	<xsd:schema
		targetNamespace="http://data.europa.eu/edm/1/ns/forms/netherlands#"
		xmlns="http://data.europa.eu/edm/1/ns/forms/netherlands#"
		xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
		xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
		xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
		xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
		elementFormDefault="qualified"
		attributeFormDefault="unqualified"
		version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace=""
			   schemaLocation="null"/>
	<!-- ===================================================== -->
<xsd:complexType name="LifeCheckChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype xsdChoice
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
						<xsd:element name="NationalIdentityCard" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
										<xsd:element name="Passport" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
														<xsd:element name="DrivingLicense" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
															<xsd:annotation>
															    <xsd:documentation xml:lang="en">
																	
															    </xsd:documentation>
															</xsd:annotation>
														</xsd:element>
																		<xsd:element name="ResidencePermit" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																			<xsd:annotation>
																			    <xsd:documentation xml:lang="en">
																					
																			    </xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																						<xsd:element name="MunicipalRegisters" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																							<xsd:annotation>
																							    <xsd:documentation xml:lang="en">
																									
																							    </xsd:documentation>
																							</xsd:annotation>
																						</xsd:element>
																										<xsd:element name="ConsularRegisters" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																											<xsd:annotation>
																											    <xsd:documentation xml:lang="en">
																													
																											    </xsd:documentation>
																											</xsd:annotation>
																										</xsd:element>
																														<xsd:element name="OtherProofOfIdentity" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																															<xsd:annotation>
																															    <xsd:documentation xml:lang="en">
																																	
																															    </xsd:documentation>
																															</xsd:annotation>
																														</xsd:element>
																														
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="LifeType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form Life.
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="forms:LifeType">
			<xsd:sequence>
						
						<xsd:element name="LifeCheckChoice" minOccurs="1" maxOccurs="1" type="LifeCheckChoiceType">
						</xsd:element>
						
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FormLifeNetherlandsType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form Life.
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="Header" type="forms:FormHeaderType" minOccurs="1" maxOccurs="1"/>
					
					<xsd:element name="Body" type="LifeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Life.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
									<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property can contain any type of information.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
