generated/xsd/ms/formFinland/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formFinland-1.0.xsd
    Generated On: 24/10/2017 17:21 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/finland#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/finland#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms"
			   schemaLocation="../../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="DocumentInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="forms:DocumentInfoType">
			<xsd:sequence>
				<xsd:element name="LocalRegistryAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="RegistrationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="NicknameRegistrationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FormHeaderType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="forms:FormHeaderType">
			<xsd:sequence>
				<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of the class DocumentInfo.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ForeignIntendedSpouseChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
		<xsd:element name="NotForeignIntendedSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					The value of this property is of boolean type.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ForeignIntendedSpouse" type="ForeignIntendedSpouseType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					The value of this property is of the class ForeignIntendedSpouse.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="PersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
				<xsd:element name="PlaceOfDeath" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="DateOfDeath" type="udt:DateType" minOccurs="0" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of date type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Surname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="Forename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="PersonalInfoDisclosureForbidden" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of boolean type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TemporaryAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="NameNormallyUsed" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SurnameAtBirth" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="IsLiving" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of boolean type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="MainResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="MotherTongue" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="PostalAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
