generated/xsd/ms/formFinland/maritalStatusForm-1.0.xsd

	<?xml version="1.0" encoding="UTF-8"?>
	<!-- ===== Schema Header ================================= -->
	<!--	
		Document Type: xsd/ms/formFinland-1.0.xsd
	    Generated On: 30/10/2017 14:27 
	-->
	<!-- ===================================================== -->
	<xsd:schema
		targetNamespace="http://data.europa.eu/edm/1/ns/forms/finland#"
		xmlns="http://data.europa.eu/edm/1/ns/forms/finland#"
		xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
		xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
		xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
		xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
		elementFormDefault="qualified"
		attributeFormDefault="unqualified"
		version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace=""
			   schemaLocation="commonPart-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="MaritalStatusChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype maritalStatusForm
				Stereotype xsdChoice
				Stereotype registeredPartnershipStatusForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
				
				<xsd:element name="NotMarried" type="pdc:NotMarriedChoiceType" minOccurs="1" maxOccurs="1"/>
				
						<xsd:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									This property contains the date of marriage.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
										<xsd:element name="RegisteredPartnership" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="FormMaritalStatusFinlandType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype maritalStatusForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class FormHeader.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
								<xsd:element name="Body" type="MaritalStatusType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class MaritalStatus.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
												<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
													<xsd:annotation>
													    <xsd:documentation xml:lang="en">
															The value of this property is of any type.
													    </xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="MaritalStatusType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype maritalStatusForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="forms:MaritalStatusType">
			<xsd:sequence>
							<xsd:element name="Person" type="PersonType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class Person.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
