generated/xsd/common/core/forms-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:pdc="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	
	
	<xsd:complexType name="AbsenceOfCriminalRecordType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the absence of a criminal record of a person. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Person" type="pdc:AbsenceOfCriminalRecordPersonType" minOccurs="1" maxOccurs="1"/>
			
			
			<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the identity number. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			
				
			<xsd:element name="IDTypeAndNo" minOccurs="1" maxOccurs="1" type="IDTypeAndNoType">
			</xsd:element>
			
			
			<xsd:element name="AbsenceOfACriminalRecord" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the boolean value (true or false) regarding the absence of a criminal record.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			
			
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
	
	<xsd:complexType name="AdministrativeDocumentChoiceType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the choice between the different types of administrative documents. 
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
				
			<xsd:element name="Certificate" minOccurs="1" maxOccurs="1" type="CertificateType">
			</xsd:element>
			
			
				
			<xsd:element name="ExtractFromTheCivilStatusRegister" minOccurs="1" maxOccurs="1" type="ExtractFromTheCivilStatusRegisterType"/>
			
			
				
			<xsd:element name="ExtractFromThePopulationRegister" minOccurs="1" maxOccurs="1" type="ExtractFromThePopulationRegisterType">
			</xsd:element>
			
			
				
			<xsd:element name="VerbatimCopyOfCivilStatusRecords" minOccurs="1" maxOccurs="1" type="VerbatimCopyOfCivilStatusRecordsType">
			</xsd:element>
			
			
			<xsd:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the string value referring to another type of administrative document. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			
			
		</xsd:choice>
	</xsd:complexType>
	
	
	
	
	
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the birth of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
			
			
			
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
	
	<xsd:complexType name="CapacityToEnterRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the capacity to enter into a registered partnership of a couple.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Person" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			
			
			<xsd:element name="IntendedPartner" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			
			
			<xsd:element name="CanEnterRegisteredPartnership" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"/>
			
			
			
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
	
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the capacity to marry of a couple.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Person" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			
			
			<xsd:element name="IntendedSpouse" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			
			
			<xsd:element name="CanMarry" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"/>
			
			
			
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
	<xsd:complexType name="CertificateType"/>
	
	
	
	
	<xsd:complexType name="CourtDecisionType"/>
	
	
	
	
	
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the death of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Person" type="pdc:DeathPersonType" minOccurs="1" maxOccurs="1"/>
			
			
			
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
	<xsd:complexType name="DocumentDrawnUpByDiplomaticOrConsularAgentType"/>
	
	
	
	
	<xsd:complexType name="DocumentEmanatingFromAClerkOfACourtType"/>
	
	
	
	
	<xsd:complexType name="DocumentEmanatingFromAJudicialOfficerType"/>
	
	
	
	
	<xsd:complexType name="DocumentEmanatingFromAPublicProsecutorType"/>
	
	
	
	
	
	<xsd:complexType name="DocumentFromCourtOrTribunalChoiceType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the choice between different types of documents emanating from a court or tribunal.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
				
			<xsd:element name="CourtDecision" minOccurs="1" maxOccurs="1" type="CourtDecisionType">
			</xsd:element>
			
			
				
			<xsd:element name="DocumentEmanatingFromAPublicProsecutor" minOccurs="1" maxOccurs="1" type="DocumentEmanatingFromAPublicProsecutorType">
			</xsd:element>
			
			
				
			<xsd:element name="DocumentEmanatingFromAClerkOfACourt" minOccurs="1" maxOccurs="1" type="DocumentEmanatingFromAClerkOfACourtType">
			</xsd:element>
			
			
				
			<xsd:element name="DocumentEmanatingFromAJudicialOfficer" minOccurs="1" maxOccurs="1" type="DocumentEmanatingFromAJudicialOfficerType">
			</xsd:element>
			
			
			<xsd:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the string value referring to another type of document coming from court or tribunal.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			
			
		</xsd:choice>
	</xsd:complexType>
	
	
	
	
	
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to information about a document. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Kind" type="PublicDocuments:DocumentKindChoice" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property refers to the class DocumentKindChoice.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the issue date of the document.
				
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			
				
				
				    <xsd:element name="ReferenceNumber" minOccurs="1" maxOccurs="1" type="ReferenceNumberType"/>
				
				    
				
				    
				
				    
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
				
				    
				
				    <xsd:complexType name="DomicileAndOrResidenceType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the domicile and/or residence of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="ConcernedPerson" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:complexType name="ExtractFromTheCivilStatusRegisterType"/>
				
				    
				
				    
				
				    
	
				
				    <xsd:complexType name="ExtractFromThePopulationRegisterType"/>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="FormHeaderType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form header of a form.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="SignatureInfo" type="SignatureInfoType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="ExtensionHeader" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains potential future extensions to the header of each form. 
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the title of the form, corresponding to the main subject or life area covered in the form. 
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="ImportantNotice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains a notice on the purpose of the form. 
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="NoteForTheIssuingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains a note for the issuing authority regarding which information is to be mentioned. 
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmAbsenceOfCriminalRecord" type="FrmAbsenceOfCriminalRecordType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmAbsenceOfCriminalRecordType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form AbsenceOfCriminalRecord.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmBirth" type="FrmBirthType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmBirthType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		 This class contains elements related to the form Birth.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmCapacityToEnterRegisteredPartnerShip" type="FrmCapacityToEnterRegisteredPartnerShipType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmCapacityToEnterRegisteredPartnerShipType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form CapacityToEnterRegisteredPartnership.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="CapacityToEnterRegisteredPartnershipType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmCapacityToMarry" type="FrmCapacityToMarryType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmCapacityToMarryType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form CapacityToMarry.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmDeath" type="FrmDeathType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmDeathType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form Death. 
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmDomicileAndOrResidence" type="FrmDomicileAndOrResidenceType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmDomicileAndOrResidenceType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form DomicileAndOrResidence.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmLife" type="FrmLifeType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmLifeType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form Life.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="LifeType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmMaritalStatus" type="FrmMaritalStatusType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmMaritalStatusType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form MaritalStatus.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="MaritalStatusType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmMarriage" type="FrmMarriageType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmMarriageType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form Marriage.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmRegisteredPartnerShip" type="FrmRegisteredPartnerShipType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmRegisteredPartnerShipType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form RegisteredPartnership.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="RegisteredPartnershipType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:element name="FrmRegisteredPartnerShipStatus" type="FrmRegisteredPartnerShipStatusType"/>
				
				    
				
				    
				
				    <xsd:complexType name="FrmRegisteredPartnerShipStatusType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the form RegisteredPartnershipStatus.
				
				    				Stereotype xsdGlobalElement
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Body" type="RegisteredPartnershipStatusType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="IDTypeAndNoType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the choice between the types of ID used to identify a person.
				
				    				Stereotype xsdChoice
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:choice>
				
				    		<xsd:element name="NationalIdentityCardNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the string value of the number of the national identity card.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="PassportNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the string value of the passport number.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="DrivingLicenceNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the string value of the driving licence number.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="OtherIDType" type="OtherIDTypeType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:choice>
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="LifeType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the life of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="Address" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="IsAlive" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the boolean value (true or false) for whether the person is alive.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="MaritalStatusType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the marital status of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="MaritalStatus" type="pdc:MaritalStatusChoice" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="MarriageType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to a marriage.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="SpouseA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="SpouseB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the date of the marriage.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="PlaceOfMarriage" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:complexType name="NotarialActType"/>
				
				    
				
				    
				
				    
	
				
				    <xsd:complexType name="OfficialCertificateOnDocumentSignedByPersonType"/>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="OtherIDTypeType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to ID types other than national identity cards, passports, or driving licences.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="IDType" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="IDNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:complexType name="ReferenceNumberType"/>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="RegisteredPartnershipType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to a registered partnership.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="PartnerA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="PartnerB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="DateOfRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the date the registered partnership is concluded.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="PlaceOfRegisteredPartnership" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="RegisteredPartnershipStatusType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the registered partnership status of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		<xsd:element name="RegisteredPartnershipStatus" type="pdc:MaritalStatusChoice" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="SignatureInfoType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the signature of the official handling the document.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="SurnameForenameOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the surname and forename of the official.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="PositionOfOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the position of the official.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the issue data of the document.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="Signature" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					Although the signature field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="SealOrStamp" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					Although the seal or stamp field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    <xsd:complexType name="VerbatimCopyOfCivilStatusRecordsType"/>
				
				    
				
				    
				
				    
	
</xsd:schema>
