generated/xsd/common/core/pdc-AggregatedComponents-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
	xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents"	
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ids5ISO316612A="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents"
			   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-AggregateComponents-1.1.xsd"/>
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
			   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-BasicComponents-1.1.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006"
			   schemaLocation="../../external//unece/ISO_ISOTwoletterCountryCode_SecondEdition2006.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordPersonType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to the absence of a criminal record for a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
				<xsd:restriction base="PersonType">
				<xsd:sequence>
							
					<xsd:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the surname (i.e. last name or family name) of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
							
					<xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the forename (i.e. the first name or given name) of the person. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
							
					<xsd:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the date of birth of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					<xsd:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
					
					
							
					<xsd:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element name="Nationality" type="cva:JurisdictionType" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the previous surname(s) of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					
					<xsd:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the previous forename(s) of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="AddressType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to an address.
					<!-- Dependency Address->Address -->
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
					
			<xsd:element name="StreetPOBox" type="cvb:AddressThoroughfareType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains contains the Street PO Box details of the address.
				
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
					
				
				    <xsd:element name="Place" type="cvb:AddressPostNameType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the location specification of the address.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    		
				
				    <xsd:element name="Country" type="cvb:AddressAdminUnitLocationOneType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the name of the country.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    		
				
				    <xsd:element name="PostalCode" type="cvb:AddressPostNameType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the postal code of the address
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	<xsd:complexType name="AuthorityType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the designation of an authority.
				
				    				<!-- Dependency Authority->LegalEntity -->
				
				    				Stereotype cvABIE
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    				
				
				    		<xsd:element name="Designation" type="cvb:LegalEntityLegalNameType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the designation of the authority.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
	<xsd:complexType name="BirthPersonType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the birth of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:complexContent>
				
				    			<xsd:restriction base="PersonType">
				
				    			<xsd:sequence>
				
				    						
				
				    				<xsd:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the person's surname.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the forename (first name or given name) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				<xsd:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				
				
				    			</xsd:sequence>
				
				    		</xsd:restriction>
				
				    	</xsd:complexContent>
				
				    </xsd:complexType>
				
				    
	<xsd:complexType name="CanMarryType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the capacity to marry of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="HasCapacityToMarry" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					The person concerned has the capacity to marry under the national law of the Member State where the public document is issued.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="AppearsToHaveNoMarriage" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					The person concerned appears to have no marriage in his or her name under the national law of the Member State where the public document is issued.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="NoKnownImpediment" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					There is no known impediment for the person concerned to marry under the national law of the Member State where the public document is issued.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="NoKnownImpedimentIntendedSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					There is no known impediment to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		<xsd:element name="NoOppositionknown" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					There is no opposition known to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
	<xsd:complexType name="CapacityToMarryOrEnterRegisteredPartnershipPersonType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the capacity to marry or enter into a registered partnership of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:complexContent>
				
				    			<xsd:restriction base="PersonType">
				
				    			<xsd:sequence>
				
				    						
				
				    				<xsd:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the surname (i.e. the last name or family name) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the forename (i.e. the first name or given name) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				<xsd:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="Nationality" type="cva:JurisdictionType" minOccurs="0" maxOccurs="unbounded"/>
				
				    				
				
				    				
				
				    				
				
				    			</xsd:sequence>
				
				    		</xsd:restriction>
				
				    	</xsd:complexContent>
				
				    </xsd:complexType>
				
				    
	<xsd:complexType name="CountryType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to a country.
				
				    				<!-- Dependency Country->Location -->
				
				    				Stereotype cvABIE
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    			
				
				    		<xsd:element name="Code" type="ids5ISO316612A:ISOTwoletterCountryCodeIdentifierContentType" minOccurs="0" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property refers to the class CountryCode.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    				
				
				    		<xsd:element name="Name" type="cvb:LocationGeographicNameType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the name of the country.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
	<xsd:complexType name="DeathPersonType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the death of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:complexContent>
				
				    			<xsd:restriction base="PersonType">
				
				    			<xsd:sequence>
				
				    						
				
				    				<xsd:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the surname (i.e. the last name or family name) of the person. 
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the forename (i.e. the first name or given name) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				<xsd:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="DateOfDeath" type="cvb:PersonDeathDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the date of death of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				<xsd:element name="PlaceOfDeath" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="CountryOfDeath" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				
				
				    			</xsd:sequence>
				
				    		</xsd:restriction>
				
				    	</xsd:complexContent>
				
				    </xsd:complexType>
				
				    
	<xsd:complexType name="MaritalOrRegisteredPartnershipStatusPersonType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the marital or registered partnership status of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:complexContent>
				
				    			<xsd:restriction base="PersonType">
				
				    			<xsd:sequence>
				
				    						
				
				    				<xsd:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the surname (i.e. the last name or family name) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="SurnameAtBirth" type="cvb:PersonBirthNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the person's surname at the time of his/her birth.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="0" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the person's forename (i.e. first name or given name).
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the person's date of birth.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				<xsd:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="Nationality" type="cva:JurisdictionType" minOccurs="1" maxOccurs="unbounded"/>
				
				    				
				
				    				
				
				    				<xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the previous surname of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    				<xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the future surname of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    				
				
				    			</xsd:sequence>
				
				    		</xsd:restriction>
				
				    	</xsd:complexContent>
				
				    </xsd:complexType>
				
				    
	
				
				    
	<xsd:complexType name="MarriageOrRegisteredPartnershipPersonType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the marriage or registered partnership of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:complexContent>
				
				    			<xsd:restriction base="PersonType">
				
				    			<xsd:sequence>
				
				    						
				
				    				<xsd:element name="SurnameAtBirth" type="cvb:PersonBirthNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the surname of the person at the time of his/her birth.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the forename (i.e. the first name or given name) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="1" maxOccurs="1" >
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the previous surname(s) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    				<xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the future surname(s) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    				
				
				    			</xsd:sequence>
				
				    		</xsd:restriction>
				
				    	</xsd:complexContent>
				
				    </xsd:complexType>
				
				    
	<xsd:complexType name="NationalityType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to a nationality.
				
				    				<!-- Dependency Nationality->Jurisdiction -->
				
				    				Stereotype cvABIE
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    				
				
				    		<xsd:element name="Name" type="cvb:JurisdictionNameType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the name of the nationality.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
	
				
				    
	
				
				    
	<xsd:complexType name="OfficialType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:complexContent>
				
				    			<xsd:restriction base="PersonType">
				
				    			<xsd:sequence>
				
				    						
				
				    				<xsd:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							cvb:PersonFamilyName
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    						
				
				    				<xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							cvb:PersonGivenName
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    			</xsd:sequence>
				
				    		</xsd:restriction>
				
				    	</xsd:complexContent>
				
				    </xsd:complexType>
				
				    
	<xsd:complexType name="PersonType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to a person.
				
				    				<!-- Dependency Person->Person -->
				
				    				Stereotype cvABIE
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    				
				
				    		<xsd:element name="Surname" type="cvb:PersonFamilyNameType" minOccurs="0" maxOccurs="unbounded">
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the person's last name.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    				
				
				    		<xsd:element name="SurnameAtBirth" type="cvb:PersonBirthNameType" minOccurs="0" maxOccurs="unbounded">
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the person's last name at the time of his/her birth.
				
				    			
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    				
				
				    			
				
				    			    <xsd:element name="Forename" type="cvb:PersonGivenNameType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			This property contains the person's first name or given name.
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    		
				
				    			
				
				    			    <xsd:element name="DateOfBirth" type="cvb:PersonBirthDateType" minOccurs="0" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			This property contains the person's date of birth.
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="PlaceOfBirth" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="CountryOfBirth" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    		
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="DateOfDeath" type="cvb:PersonDeathDateType" minOccurs="0" maxOccurs="1" >
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the person's date of death (if applicable).
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xsd:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="PlaceOfDeath" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="CountryOfDeath" type="cva:CoreLocationType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    		
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="Sex" type="cvb:PersonGenderCodeType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="Nationality" type="cva:JurisdictionType" minOccurs="0" maxOccurs="unbounded"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="Domicile" type="AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="Residence" type="AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the past surname of the person (if applicable)
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xsd:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the future surname of the person (if applicable)
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xsd:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	<xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    <xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    			This property contains the previous surname of the person (if applicable)
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	</xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    </xsd:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    <xsd:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	<xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    <xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			This property contains the previous forename (first name) of the person (if applicable). 
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    </xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	</xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xsd:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
	<xsd:complexType name="PlaceType">
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	<xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    <xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		This class contains elements related to a place.
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    				<!-- Dependency Place->Location -->
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    				Stereotype cvABIE
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	    </xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	</xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	<xsd:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    				
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		<xsd:element name="Name" type="cvb:LocationGeographicNameType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			<xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			    <xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    					This property contains the name of the place (geographic location).
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			    </xsd:documentation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    			</xsd:annotation>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		</xsd:element>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    		
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	</xsd:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    </xsd:complexType>
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
	
	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	
				
				    			
				
				    			    	
				
				    			
				
				    			    	    	    
	
</xsd:schema>
