generated/xsd/common/core/pdc-AggregatedComponents-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/pdc"
	xmlns="http://data.europa.eu/edm/1/ns/pdc"
	xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents"	
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ids5ISO316612A="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:cls="http://data.europa.eu/edm/1/ns/codelist/sex"	
	xmlns:qdt="http://data.europa.eu/edm/1/ns/qdt"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents"
			   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-AggregateComponents-1.1.xsd"/>
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
			   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-BasicComponents-1.1.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:5:ISO316612A:SecondEdition2006"
			   schemaLocation="../../external/unece/ISO_ISOTwoletterCountryCode_SecondEdition2006.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/codelist/sex"
			   schemaLocation="../../../xsd/common/codelist/cls-codelist-Sex-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/qdt"
			   schemaLocation="qdt-LengthComponents-1.0.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the absence of a criminal record for a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="PersonType">
				<xsd:sequence>
					
					
					<xsd:element ref="cvb:PersonFamilyName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonGivenName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element ref="cva:PersonPlaceOfBirthCoreLocation" minOccurs="1" maxOccurs="1"/>
								<xsd:element name="CountryOfBirth" type="CountryType" minOccurs="1" maxOccurs="1"/>
								
													<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
														<xsd:annotation>
														    <xsd:documentation xml:lang="en">
																The value of this property is of the class Sex.
														    </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													
					
					
					<xsd:element ref="cva:PersonCitizenshipJurisdiction" minOccurs="1" maxOccurs="unbounded"/>
										<xsd:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the previous surname(s) of the person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>	
										
										<xsd:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the previous forename(s) of the person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>	
										
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to an address.
					<!-- Dependency Address->Address -->
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			
			
			<xsd:element ref="cvb:AddressThoroughfare" minOccurs="1" maxOccurs="1"/>
			
			
			<xsd:element ref="cvb:AddressPostName" minOccurs="1" maxOccurs="1"/>
			
			
			<xsd:element ref="cvb:AddressAdminUnitLocationOne" minOccurs="1" maxOccurs="1"/>
								<xsd:element name="PostalCode" type="udt:TextType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains the postal code of the address
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="AuthorityType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the designation of an authority.
					<!-- Dependency Authority->LegalEntity -->
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			
			
			<xsd:element ref="cvb:LegalEntityLegalName" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the birth of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="PersonType">
				<xsd:sequence>
					
					
					<xsd:element ref="cvb:PersonFamilyName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonGivenName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element ref="cva:PersonPlaceOfBirthCoreLocation" minOccurs="1" maxOccurs="1"/>
								<xsd:element name="CountryOfBirth" type="CountryType" minOccurs="1" maxOccurs="1"/>
								
													<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
														<xsd:annotation>
														    <xsd:documentation xml:lang="en">
																The value of this property is of the class Sex.
														    </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CanMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the capacity to marry of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="HasCapacityToMarry" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The person concerned has the capacity to marry under the national law of the Member State where the public document is issued.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="AppearsToHaveNoMarriage" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The person concerned appears to have no marriage in his or her name under the national law of the Member State where the public document is issued.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NoKnownImpediment" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											There is no known impediment for the person concerned to marry under the national law of the Member State where the public document is issued.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NoKnownImpedimentIntendedSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											There is no known impediment to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NoOppositionknown" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											There is no opposition known to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryOrEnterRegisteredPartnershipPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the capacity to marry or enter into a registered partnership of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="PersonType">
				<xsd:sequence>
					
					
					<xsd:element ref="cvb:PersonFamilyName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonGivenName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element ref="cva:PersonPlaceOfBirthCoreLocation" minOccurs="1" maxOccurs="1"/>
								<xsd:element name="CountryOfBirth" type="CountryType" minOccurs="1" maxOccurs="1"/>
								
													<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
														<xsd:annotation>
														    <xsd:documentation xml:lang="en">
																The value of this property is of the class Sex.
														    </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													
					
					
					<xsd:element ref="cva:PersonCitizenshipJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CountryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to a country.
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="Code" type="ids5ISO316612A:ISOTwoletterCountryCodeIdentifierContentType" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class CountryCode.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
			
			<xsd:element ref="cvb:LocationGeographicName" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the death of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="PersonType">
				<xsd:sequence>
					
					
					<xsd:element ref="cvb:PersonFamilyName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonGivenName" minOccurs="1" maxOccurs="unbounded"/>
					
					
					<xsd:element ref="cvb:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element ref="cva:PersonPlaceOfBirthCoreLocation" minOccurs="1" maxOccurs="1"/>
								<xsd:element name="CountryOfBirth" type="CountryType" minOccurs="1" maxOccurs="1"/>
								
					
					
					<xsd:element ref="cvb:PersonDeathDate" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element ref="cva:PersonPlaceOfDeathCoreLocation" minOccurs="1" maxOccurs="1"/>
					
					
					<xsd:element ref="cva:PersonCountryOfDeathCoreLocation" minOccurs="1" maxOccurs="1"/>
													<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
														<xsd:annotation>
														    <xsd:documentation xml:lang="en">
																The value of this property is of the class Sex.
														
														    </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MaritalOrRegisteredPartnershipStatusPersonType">
														
														    	<xsd:annotation>
														
														    	    <xsd:documentation xml:lang="en">
														
														    		This class contains elements related to the marital or registered partnership status of a person.
														
														    	    </xsd:documentation>
														
														    	</xsd:annotation>
														
														    	<xsd:complexContent>
														
														    		<xsd:restriction base="PersonType">
														
														    			<xsd:sequence>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonFamilyName" minOccurs="1" maxOccurs="unbounded"/>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonBirthName" minOccurs="1" maxOccurs="unbounded"/>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
														
														    				
														
														    				
														
														    				<xsd:element ref="cva:PersonPlaceOfBirthCoreLocation" minOccurs="1" maxOccurs="1"/>
														
														    							<xsd:element name="CountryOfBirth" type="CountryType" minOccurs="1" maxOccurs="1"/>
														
														    							
														
														    												<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
														
														    													<xsd:annotation>
														
														    													    <xsd:documentation xml:lang="en">
														
														    															The value of this property is of the class Sex.
														
														    													    </xsd:documentation>
														
														    													</xsd:annotation>
														
														    												</xsd:element>
														
														    												
														
														    				
														
														    				
														
														    				<xsd:element ref="cva:PersonCitizenshipJurisdiction" minOccurs="1" maxOccurs="unbounded"/>
														
														    									<xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
														
														    										<xsd:annotation>
														
														    										    <xsd:documentation xml:lang="en">
														
														    												This property contains the previous surname of the person.
														
														    										    </xsd:documentation>
														
														    										</xsd:annotation>
														
														    									</xsd:element>	
														
														    									
														
														    									<xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
														
														    										<xsd:annotation>
														
														    										    <xsd:documentation xml:lang="en">
														
														    												This property contains the future surname of the person.
														
														    										    </xsd:documentation>
														
														    										</xsd:annotation>
														
														    									</xsd:element>	
														
														    									
														
														    				
														
														    			</xsd:sequence>
														
														    		</xsd:restriction>
														
														    	</xsd:complexContent>
														
														    </xsd:complexType>
														
														    <xsd:complexType name="MaritalStatusChoiceType">
														
														    	<xsd:annotation>
														
														    	    <xsd:documentation xml:lang="en">
														
														    		This class contains elements related to the choice of marital status.
														
														    				Stereotype xsdChoice
														
														    	    </xsd:documentation>
														
														    	</xsd:annotation>
														
														    	<xsd:choice>
														
														    							<xsd:element name="DateOfMarriageOrRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1" >
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										This property contains the date of marriage.
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>
														
														    							
														
														    				<xsd:element name="NotMarried" minOccurs="1" maxOccurs="1" type="NotMarriedChoiceType">
														
														    				</xsd:element>
														
														    				
														
														    							<xsd:element name="Undetermined" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										The marital status of the concerned person is undetermined.
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>
														
														    							
														
														    		
														
														    	</xsd:choice>
														
														    </xsd:complexType>
														
														    <xsd:complexType name="MarriageOrRegisteredPartnershipPersonType">
														
														    	<xsd:annotation>
														
														    	    <xsd:documentation xml:lang="en">
														
														    		This class contains elements related to the marriage or registered partnership of a person.
														
														    	    </xsd:documentation>
														
														    	</xsd:annotation>
														
														    	<xsd:complexContent>
														
														    		<xsd:restriction base="PersonType">
														
														    			<xsd:sequence>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonBirthName" minOccurs="1" maxOccurs="unbounded"/>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonGivenName" minOccurs="1" maxOccurs="unbounded"/>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonBirthDate" minOccurs="1" maxOccurs="1"/>
														
														    												<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
														
														    													<xsd:annotation>
														
														    													    <xsd:documentation xml:lang="en">
														
														    															The value of this property is of the class Sex.
														
														    													    </xsd:documentation>
														
														    													</xsd:annotation>
														
														    												</xsd:element>
														
														    												
														
														    									<xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
														
														    										<xsd:annotation>
														
														    										    <xsd:documentation xml:lang="en">
														
														    												This property contains the previous surname(s) of the person.
														
														    										    </xsd:documentation>
														
														    										</xsd:annotation>
														
														    									</xsd:element>	
														
														    									
														
														    									<xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
														
														    										<xsd:annotation>
														
														    										    <xsd:documentation xml:lang="en">
														
														    												This property contains the future surname(s) of the person.
														
														    										    </xsd:documentation>
														
														    										</xsd:annotation>
														
														    									</xsd:element>	
														
														    									
														
														    				
														
														    			</xsd:sequence>
														
														    		</xsd:restriction>
														
														    	</xsd:complexContent>
														
														    </xsd:complexType>
														
														    <xsd:complexType name="NationalityType">
														
														    	<xsd:annotation>
														
														    	    <xsd:documentation xml:lang="en">
														
														    		This class contains elements related to a nationality.
														
														    				<!-- Dependency Nationality->Jurisdiction -->
														
														    				Stereotype cvABIE
														
														    	    </xsd:documentation>
														
														    	</xsd:annotation>
														
														    	<xsd:sequence> 
														
														    		
														
														    		
														
														    		<xsd:element ref="cvb:JurisdictionName" minOccurs="1" maxOccurs="1"/>
														
														    		
														
														    	</xsd:sequence>
														
														    	
														
														    </xsd:complexType>
														
														    <xsd:complexType name="NotMarriedChoiceType">
														
														    	<xsd:annotation>
														
														    	    <xsd:documentation xml:lang="en">
														
														    		This class contains elements related to the specific situation of not-married individuals.
														
														    				Stereotype xsdChoice
														
														    	    </xsd:documentation>
														
														    	</xsd:annotation>
														
														    	<xsd:choice>
														
														    							<xsd:element name="NeverMarried" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										The concerned person has never been married.
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>
														
														    							
														
														    							<xsd:element name="DivorceDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										This property contains the date of the divorce.
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>
														
														    							
														
														    							<xsd:element name="WidowshipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										This property contains the date of widowship.
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>
														
														    							
														
														    		
														
														    	</xsd:choice>
														
														    </xsd:complexType>
														
														    <xsd:complexType name="OfficialType">
														
														    	<xsd:annotation>
														
														    	    <xsd:documentation xml:lang="en">
														
														    		
														
														    	    </xsd:documentation>
														
														    	</xsd:annotation>
														
														    	<xsd:complexContent>
														
														    		<xsd:restriction base="PersonType">
														
														    			<xsd:sequence>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonFamilyName" minOccurs="1" maxOccurs="unbounded"/>
														
														    				
														
														    				
														
														    				<xsd:element ref="cvb:PersonGivenName" minOccurs="1" maxOccurs="unbounded"/>
														
														    				
														
														    			</xsd:sequence>
														
														    		</xsd:restriction>
														
														    	</xsd:complexContent>
														
														    </xsd:complexType>
														
														    <xsd:complexType name="PersonType">
														
														    	<xsd:annotation>
														
														    	    <xsd:documentation xml:lang="en">
														
														    		This class contains elements related to a person.
														
														    				<!-- Dependency Person->Person -->
														
														    				Stereotype cvABIE
														
														    	    </xsd:documentation>
														
														    	</xsd:annotation>
														
														    	<xsd:sequence> 
														
														    		
														
														    		
														
														    		<xsd:element ref="cvb:PersonFamilyName" minOccurs="0" maxOccurs="unbounded"/>
														
														    		
														
														    		
														
														    		<xsd:element ref="cvb:PersonBirthName" minOccurs="0" maxOccurs="unbounded"/>
														
														    		
														
														    		
														
														    		<xsd:element ref="cvb:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
														
														    		
														
														    		
														
														    		<xsd:element ref="cvb:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
														
														    		
														
														    		
														
														    		<xsd:element ref="cva:PersonPlaceOfBirthCoreLocation" minOccurs="0" maxOccurs="1"/>
														
														    					<xsd:element name="CountryOfBirth" type="CountryType" minOccurs="0" maxOccurs="1"/>
														
														    					
														
														    		
														
														    		
														
														    		<xsd:element ref="cvb:PersonDeathDate" minOccurs="0" maxOccurs="1"/>
														
														    		
														
														    		
														
														    		<xsd:element ref="cva:PersonPlaceOfDeathCoreLocation" minOccurs="0" maxOccurs="1"/>
														
														    		
														
														    		
														
														    		<xsd:element ref="cva:PersonCountryOfDeathCoreLocation" minOccurs="0" maxOccurs="1"/>
														
														    										<xsd:element name="Sex" type="cls:SexType" minOccurs="0" maxOccurs="1" >
														
														    											<xsd:annotation>
														
														    											    <xsd:documentation xml:lang="en">
														
														    													This property contains the sex of the person
														
														    											    </xsd:documentation>
														
														    											</xsd:annotation>
														
														    										</xsd:element>
														
														    										
														
														    		
														
														    		
														
														    		<xsd:element ref="cva:PersonCitizenshipJurisdiction" minOccurs="0" maxOccurs="unbounded"/>
														
														    					<xsd:element name="Domicile" type="AddressType" minOccurs="0" maxOccurs="1"/>
														
														    					
														
														    					<xsd:element name="Residence" type="AddressType" minOccurs="0" maxOccurs="1"/>
														
														    					
														
														    							<xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										This property contains the past surname of the person (if applicable)
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>	
														
														    							
														
														    							<xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										This property contains the future surname of the person (if applicable)
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>	
														
														    							
														
														    							<xsd:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
														
														    								<xsd:annotation>
														
														    								    <xsd:documentation xml:lang="en">
														
														    										This property contains the previous surname of the person (if applicable)
														
														    								
														
														    								    </xsd:documentation>
														
														    								</xsd:annotation>
														
														    							</xsd:element>	
														
														    							
														
														    							<xsd:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
														
														    								
														
														    								    						<xsd:annotation>
														
														    								
														
														    								    						    <xsd:documentation xml:lang="en">
														
														    								
														
														    								    								This property contains the previous forename (first name) of the person (if applicable). 
														
														    								
														
														    								    						    </xsd:documentation>
														
														    								
														
														    								    						</xsd:annotation>
														
														    								
														
														    								    					</xsd:element>	
														
														    								
														
														    								    					
														
														    								
														
														    								    
														
														    	</xsd:sequence>
														
														    	
														
														    </xsd:complexType>
														
														    <xsd:complexType name="PlaceType">
														
														    								
														
														    								    	<xsd:annotation>
														
														    								
														
														    								    	    <xsd:documentation xml:lang="en">
														
														    								
														
														    								    		This class contains elements related to a place.
														
														    								
														
														    								    				<!-- Dependency Place->Location -->
														
														    								
														
														    								    				Stereotype cvABIE
														
														    								
														
														    								    	    </xsd:documentation>
														
														    								
														
														    								    	</xsd:annotation>
														
														    								
														
														    								    	<xsd:sequence> 
														
														    								
														
														    								    		
														
														    								
														
														    								    		
														
														    								
														
														    								    		<xsd:element ref="cvb:LocationGeographicName" minOccurs="1" maxOccurs="1"/>
														
														    								
														
														    								    		
														
														    								
														
														    								    	</xsd:sequence>
														
														    								
														
														    								    	
														
														    								
														
														    								    </xsd:complexType>
														
														    								
														
														    								    
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
