generated/xsd/common/core/qdt-LengthComponents-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/qdt"
	xmlns="http://data.europa.eu/edm/1/ns/qdt"
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
			   schemaLocation="../../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-BasicComponents-1.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<!-- ============================================================ -->
	<!-- AddressAddressCountryhMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="AddressAddressCountryhMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:AddressAdminUnitLocationOneType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="AddressAddressCountryhMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressAddressPlaceMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="AddressAddressPlaceMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="AddressAddressPlaceMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:AddressPostNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressCountryOfDeathMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="AddressCountryOfDeathMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="AddressCountryOfDeathMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:LocationGeographicNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressPlaceOfBirthMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="AddressPlaceOfBirthMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="AddressPlaceOfBirthMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:AddressPlaceOfBirthType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressPlaceOfDeathMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="AddressPlaceOfDeathMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="AddressPlaceOfDeathMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:AddressPlaceOfDeathType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressPostalCodeMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="AddressPostalCodeMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="AddressPostalCodeMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:AddressPostNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressStreetPOBoxMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="AddressStreetPOBoxMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="AddressStreetPOBoxMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:AddressThoroughfareType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- LocationCountrynameMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="LocationCountrynameMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="LocationCountrynameMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:LocationGeographicNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- LocationPlaceNameMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="LocationPlaceNameMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="LocationPlaceNameMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:LocationGeographicNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonDesignationMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonDesignationMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="PersonDesignationMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonLegalNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonForenameMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonForenameMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="PersonForenameMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonGivenNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonNationalityMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonNationalityMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="PersonNationalityMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonJurisdictionType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonNationalityNameMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonNationalityNameMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="PersonNationalityNameMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonPersonNationalityMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonPersonNationalityMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="PersonPersonNationalityMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonPlaceMaxLength65535-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonPlaceMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonLocationType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="PersonPlaceMaxLength65535Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="65535" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonSurnameAtBirthMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonSurnameAtBirthMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
			<xsd:complexType name="PersonSurnameAtBirthMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonBirthNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonSurnameMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="PersonSurnameMaxLength255Type">
				<xsd:simpleContent>
						<xsd:restriction base="cvb:PersonFamilyNameType">
						<xsd:minLength value="0"  />
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleContent>
			</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- StringMaxLength255-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="StringMaxLength255Type">
						<xsd:simpleContent>
								<xsd:restriction base="udt:TextType">
								<xsd:minLength value="0"  />
								<xsd:maxLength value="255" />
							</xsd:restriction>
						</xsd:simpleContent>
					</xsd:complexType>
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- StringMaxLength50-->
	<!-- ============================================================ -->
	
	
	
			<xsd:complexType name="StringMaxLength50Type">
						<xsd:simpleContent>
								<xsd:restriction base="udt:TextType">
								<xsd:minLength value="0"  />
								<xsd:maxLength value="50" />
							</xsd:restriction>
						</xsd:simpleContent>
					</xsd:complexType>
	
	
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressAdminUnitLocationOne-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressPlaceOfBirth-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressPlaceOfDeath-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressPostName-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- AddressThoroughfare-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- LocationGeographicName-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonBirthName-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonFamilyName-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonGivenName-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonJurisdiction-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonLegalName-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonLocation-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	<!-- ============================================================ -->
	<!-- PersonName-->
	<!-- ============================================================ -->
	
	
	
	
	
	
	
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
