generated/ms/formSlovakia-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://data.europa.eu/xyz/forms/slovakia"
	xmlns="http://data.europa.eu/xyz/forms/slovakia"
	xmlns:forms="http://data.europa.eu/xyz/forms"	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="0.1">
	<xs:annotation>	
		<xs:documentation xml:lang="en">
	        Public Documents XML schema 0.1
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xs:documentation>
	</xs:annotation>
	<!-- ===== Imports======================================== -->
	<xs:import namespace="http://data.europa.eu/xyz/forms"
			   schemaLocation="../common/core/forms-0.1.xsd"/>
	<!-- ===================================================== -->
	
	
	
	
	<xs:complexType name="ReferenceNumberType">
		<xs:annotation>
		    <xs:documentation>
			This class contains elements related to information about a document. 
		    </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="ReferenceNumberType">
				<xs:sequence>
					
					
					<xs:element name="Zwazok" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xs:annotation>
						    <xs:documentation>
								
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					
					
					<xs:element name="Rocnik" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xs:annotation>
						    <xs:documentation>
								
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					
					
					<xs:element name="Strana" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xs:annotation>
						    <xs:documentation>
								
						    </xs:documentation>
						</xs:annotation>
					</xs:element>
					
					
					
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	
	
	
	</xs:schema>
