generated/xsd/common/core/forms/absenceOfCriminalRecordForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/common/core/forms-1.0.xsd
    Generated On: 09/11/2017 15:26 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/frmabsenceofcriminalrecord#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/frmabsenceofcriminalrecord#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="commonPart-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="IDTypeAndNoChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between the types of ID used to identify a person.
				Stereotype absenceOfCriminalRecordForm
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
						<xsd:element name="NationalIdentityCardNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of string type.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
										<xsd:element name="PassportNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of string type.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
														<xsd:element name="DrivingLicenceNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
															<xsd:annotation>
															    <xsd:documentation xml:lang="en">
																	The value of this property is of string type.
															    </xsd:documentation>
															</xsd:annotation>
														</xsd:element>
																	
																	<xsd:element name="OtherIDType" type="OtherIDTypeType" minOccurs="1" maxOccurs="1"/>
																	
														
	</xsd:choice>
</xsd:complexType>

<xsd:element name="FrmAbsenceOfCriminalRecord" type="FrmAbsenceOfCriminalRecordType"/>
<xsd:complexType name="FrmAbsenceOfCriminalRecordType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form AbsenceOfCriminalRecord.
				Stereotype absenceOfCriminalRecordForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
					
					<xsd:element name="Body" type="AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"/>
					
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="AbsenceOfCriminalRecordType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the absence of a criminal record of a person. 
				Stereotype absenceOfCriminalRecordForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
										<xsd:element name="Person" type="pdc:AbsenceOfCriminalRecordPersonType" minOccurs="1" maxOccurs="1"/>
										
						<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of string type.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
								<xsd:element name="IDTypeAndNo" minOccurs="1" maxOccurs="1" type="IDTypeAndNoChoiceType">
								</xsd:element>
								
										<xsd:element name="AbsenceOfACriminalRecord" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of boolean type.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="OtherIDTypeType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to ID types other than national identity cards, passports, or driving licences.
				Stereotype absenceOfCriminalRecordForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="IDType" type="udt:TextType" minOccurs="1" maxOccurs="1" >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of string type.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
										<xsd:element name="IDNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of string type.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
