generated/xsd/common/core/forms/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/common/core/forms-1.0.xsd
    Generated On: 10/11/2017 16:07 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/commonpart#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:qdt="http://data.europa.eu/edm/1/ns/qdt"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/qdt"
			   schemaLocation="../../../../xsd/common/core/qdt-LengthComponents-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="DocumentFromCourtOrTribunalChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between different types of documents emanating from a court or tribunal.
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
							<xsd:element name="CourtDecision" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentEmanatingFromAPublicProsecutor" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentEmanatingFromAClerkOfACourt" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentEmanatingFromAJudicialOfficer" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:choice>
</xsd:complexType>

<xsd:complexType name="DocumentInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to information about a document. 
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
				<xsd:element name="Kind" minOccurs="1" maxOccurs="1" type="DocumentKindChoiceType">
				</xsd:element>
				
							<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of date type.
								
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="ReferenceNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    						<xsd:annotation>
								
								    						    <xsd:documentation xml:lang="en">
								
								    								The value of this property is of string type.
								
								    						    </xsd:documentation>
								
								    						</xsd:annotation>
								
								    					</xsd:element>
								
								    					
								
								    
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="DocumentKindChoiceType">
								
								    	<xsd:annotation>
								
								    	    <xsd:documentation xml:lang="en">
								
								    		This class contains elements related to the choice between different types of documents.
								
								    				Stereotype commonPart
								
								    				Stereotype xsdChoice
								
								    	    </xsd:documentation>
								
								    	</xsd:annotation>
								
								    	<xsd:choice>
								
								    				<xsd:element name="DocumentFromCourtOrTribunal" minOccurs="1" maxOccurs="1" type="DocumentFromCourtOrTribunalChoiceType">
								
								    				</xsd:element>
								
								    				
								
								    				<xsd:element name="AdministrativeDocument" minOccurs="1" maxOccurs="1" type="AdministrativeDocumentChoiceType">
								
								    				</xsd:element>
								
								    				
								
								    							<xsd:element name="NotarialAct" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of boolean type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="OfficialCertificateOnDocumentSignedByPerson" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of boolean type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="DocumentDrawnUpByDiplomaticOrConsularAgent" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of boolean type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    		
								
								    	</xsd:choice>
								
								    </xsd:complexType>
								
								    
<xsd:complexType name="FormHeaderType">
								
								    	<xsd:annotation>
								
								    	    <xsd:documentation xml:lang="en">
								
								    		This class contains elements related to the form header of a form.
								
								    				Stereotype commonPart
								
								    	    </xsd:documentation>
								
								    	</xsd:annotation>
								
								    	<xsd:sequence> 
								
								    										<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
								
								    										
								
								    										<xsd:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
								
								    										
								
								    										<xsd:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
								
								    										
								
								    					
								
								    					<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"/>
								
								    					
								
								    					
								
								    					<xsd:element name="SignatureInfo" type="SignatureInfoType" minOccurs="1" maxOccurs="1"/>
								
								    					
								
								    							<xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="ImportantNotice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="NoteForTheIssuingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    		
								
								    	</xsd:sequence>
								
								    	
								
								    </xsd:complexType>
								
								    
<xsd:complexType name="AdministrativeDocumentChoiceType">
								
								    	<xsd:annotation>
								
								    	    <xsd:documentation xml:lang="en">
								
								    		This class contains elements related to the choice between the different types of administrative documents. 
								
								    				Stereotype commonPart
								
								    				Stereotype xsdChoice
								
								    	    </xsd:documentation>
								
								    	</xsd:annotation>
								
								    	<xsd:choice>
								
								    							<xsd:element name="Certificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of boolean type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="ExtractFromTheCivilStatusRegister" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of boolean type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="ExtractFromThePopulationRegister" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of boolean type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="VerbatimCopyOfCivilStatusRecords" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of boolean type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type. 
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    		
								
								    	</xsd:choice>
								
								    </xsd:complexType>
								
								    
<xsd:complexType name="SignatureInfoType">
								
								    	<xsd:annotation>
								
								    	    <xsd:documentation xml:lang="en">
								
								    		This class contains elements related to the signature of the official handling the document.
								
								    				Stereotype commonPart
								
								    	    </xsd:documentation>
								
								    	</xsd:annotation>
								
								    	<xsd:sequence> 
								
								    							<xsd:element name="SurnameForenameOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="PositionOfOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of date type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="Signature" type="udt:TextType" minOccurs="0" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    							<xsd:element name="SealOrStamp" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								
								    								<xsd:annotation>
								
								    								    <xsd:documentation xml:lang="en">
								
								    										The value of this property is of string type.
								
								    								    </xsd:documentation>
								
								    								</xsd:annotation>
								
								    							</xsd:element>
								
								    							
								
								    		
								
								    	</xsd:sequence>
								
								    	
								
								    </xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
