generated/xsd/common/core/forms/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/common/core/forms-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/commonpart#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:qdt="http://data.europa.eu/edm/1/ns/qdt"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/qdt"
			   schemaLocation="../../../../xsd/common/core/qdt-LengthComponents-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="SignatureInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the signature of the official handling the document.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="SurnameForenameOfficial" type="qdt:StringMaxLength65535Type" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="PositionOfOfficial" type="qdt:StringMaxLength255Type" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of date type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Signature" type="qdt:StringMaxLength255Type" minOccurs="0" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="SealOrStamp" type="qdt:StringMaxLength255Type" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="AdministrativeDocumentChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between the different types of administrative documents. 
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="Certificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="ExtractFromTheCivilStatusRegister" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="ExtractFromThePopulationRegister" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="VerbatimCopyOfCivilStatusRecords" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Other" type="qdt:StringMaxLength65535Type" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type. 
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="DocumentInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to information about a document. 
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="Kind" type="DocumentKindChoiceType" minOccurs="1" maxOccurs="1"  />
					
							<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of date type.
								
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="ReferenceNumber" type="qdt:StringMaxLength255Type" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="DocumentKindChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between different types of documents.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="DocumentFromCourtOrTribunal" type="DocumentFromCourtOrTribunalChoiceType" minOccurs="1" maxOccurs="1"  />
					
					<xsd:element name="AdministrativeDocument" type="AdministrativeDocumentChoiceType" minOccurs="1" maxOccurs="1"  />
					
							<xsd:element name="NotarialAct" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="OfficialCertificateOnDocumentSignedByPerson" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentDrawnUpByDiplomaticOrConsularAgent" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="DocumentFromCourtOrTribunalChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between different types of documents emanating from a court or tribunal.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="CourtDecision" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentEmanatingFromAPublicProsecutor" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentEmanatingFromAClerkOfACourt" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentEmanatingFromAJudicialOfficer" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of boolean type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Other" type="qdt:StringMaxLength65535Type" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="FormHeaderType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form header of a form.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="Title" type="qdt:StringMaxLength65535Type" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
										<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"  />
										
							<xsd:element name="ImportantNotice" type="qdt:StringMaxLength65535Type" minOccurs="1" maxOccurs="1" default ="The sole purpose of this multilingual standard form is to facilitate the translation of the public document to which it is attached. This form shall not be circulated as an autonomous document between Member States.
							This form reflects the content of the public document to which it is attached. However, the authority to which the public document is presented may require, when necessary for the purpose of processing the public document, a translation or transliteration of the information included in the form." >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="NoteForTheIssuingAuthority" type="qdt:StringMaxLength65535Type" minOccurs="1" maxOccurs="1" default ="Mention only information which is given in the public document to which this form is attached (2).
							If the public document to which this form is attached does not contain certain data or information, indicate ‘—’." >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
										<xsd:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
										
										<xsd:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
										
					<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"  />
					
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
