generated/xsd/common/core/forms/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1.0/ns/forms"
	xmlns="http://data.europa.eu/edm/1.0/ns/forms"
	xmlns:pdc="http://data.europa.eu/edm/1.0/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/pdc"
			   schemaLocation="../../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="DocumentKindChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between different types of documents.
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
		<xsd:element name="DocumentFromCourtOrTribunal" minOccurs="1" maxOccurs="1" type="DocumentFromCourtOrTribunalChoiceType">
		</xsd:element>
		<xsd:element name="AdministrativeDocument" minOccurs="1" maxOccurs="1" type="AdministrativeDocumentChoiceType">
		</xsd:element>
		<xsd:element name="NotarialAct" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class NotarialAct. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="OfficialCertificateOnDocumentSignedByPerson" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class OfficialCertificateOnDocumentSignedByPerson.  
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="DocumentDrawnUpByDiplomaticOrConsularAgent" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class DocumentDrawnUpByDiplomaticOrConsularAgent.  
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:choice>
</xsd:complexType>

<xsd:complexType name="DocumentInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to information about a document. 
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
		<xsd:element name="Kind" minOccurs="1" maxOccurs="1" type="DocumentKindChoiceType">
		</xsd:element>
		<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the issue date of the document.
			
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ReferenceNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the reference number of the document.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="DocumentFromCourtOrTribunalChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between different types of documents emanating from a court or tribunal.
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
		<xsd:element name="CourtDecision" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class CourtDecision. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="DocumentEmanatingFromAPublicProsecutor" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class DocumentEmanatingFromAPublicProsecutor. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="DocumentEmanatingFromAClerkOfACourt" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class DocumentEmanatingFromAClerkOfACourt. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="DocumentEmanatingFromAJudicialOfficer" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class DocumentEmanatingFromAJudicialOfficer. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the string value referring to another type of document coming from court or tribunal.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:choice>
</xsd:complexType>

<xsd:complexType name="AdministrativeDocumentChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice between the different types of administrative documents. 
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
		<xsd:element name="Certificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class Certificate.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ExtractFromTheCivilStatusRegister" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class ExtractFromTheCivilStatus
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ExtractFromThePopulationRegister" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class ExtractFromThePopulationRegister.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="VerbatimCopyOfCivilStatusRecords" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property refers to the class VerbatimCopyOfCivilStatusRecords. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the string value referring to another type of administrative document. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:choice>
</xsd:complexType>

<xsd:complexType name="FormHeaderType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form header of a form.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
		<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="SignatureInfo" type="SignatureInfoType" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the title of the form, corresponding to the main subject or life area covered in the form. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ImportantNotice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains a notice on the purpose of the form. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="NoteForTheIssuingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains a note for the issuing authority regarding which information is to be mentioned. 
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="SignatureInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the signature of the official handling the document.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
		<xsd:element name="SurnameForenameOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the surname and forename of the official.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="PositionOfOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the position of the official.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					This property contains the issue data of the document.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Signature" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					Although the signature field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="SealOrStamp" type="udt:TextType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					Although the seal or stamp field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>
