generated/xsd/common/core/forms/domicileAndOrResidenceForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/common/core/forms-1.0.xsd
    Generated On: 22/11/2017 17:20 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:qdt="http://data.europa.eu/edm/1/ns/qdt"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/qdt"
			   schemaLocation="../../../../xsd/common/core/qdt-LengthComponents-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="DomicileAndOrResidenceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the domicile and/or residence of a person.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
										<xsd:element name="ConcernedPerson" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
										
										<xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
										
										<xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
										
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:element name="FrmDomicileAndOrResidence" type="FrmDomicileAndOrResidenceType"/>
<xsd:complexType name="FrmDomicileAndOrResidenceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form DomicileAndOrResidence.
				Stereotype domicileAndOrResidenceForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
					<xsd:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1"/>
					
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
