generated/xsd/common/core/forms/registeredPartnershipStatusForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/common/core/forms-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/frmregisteredpartnershipstatus#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/frmregisteredpartnershipstatus#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:qdt="http://data.europa.eu/edm/1/ns/qdt"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/qdt"
			   schemaLocation="../../../../xsd/common/core/qdt-LengthComponents-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:element name="FrmRegisteredPartnerShipStatus" type="FrmRegisteredPartnerShipStatusType"/>
<xsd:complexType name="FrmRegisteredPartnerShipStatusType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form RegisteredPartnershipStatus.
				Stereotype registeredPartnershipStatusForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
						
					<xsd:element name="Body" type="RegisteredPartnershipStatusType" minOccurs="1" maxOccurs="1"  />
					
						<xsd:element name="Footer" type="forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
						
		
	</xsd:sequence>
	
</xsd:complexType>

<xsd:complexType name="RegisteredPartnershipStatusType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the registered partnership status of a person.
				Stereotype registeredPartnershipStatusForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
										<xsd:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"  />
										
										<xsd:element name="RegisteredPartnershipStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"  />
										
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
