generated/xsd/ms/formSlovenia-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formSlovenia-1.0.xsd
    Generated On: 29/11/2017 14:14 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/slovenia#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/slovenia#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a certificate of absence of criminal record.
					Stereotype absenceOfCriminalRecordForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="ReasonForIssue" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the reason why a certificate has been issued.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a birth.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_birthForm:BirthType">
				<xsd:sequence>
										<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the identity number assigned to a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
													<xsd:element name="Citizenship" type="pdc:NationalityType" minOccurs="1" maxOccurs="1"  />
													
								<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Parent.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Parent.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="Comments" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning additional comments about a person's birth.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the death of a person.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_deathForm:DeathType">
				<xsd:sequence>
								<xsd:element name="DeathPerson" type="DeathPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class DeathPerson.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Partner" type="PartnerType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Partner.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a deceased person. 
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the identity number of a deceased person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="LastPlaceOfDomicile" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DomicileAndOrResidenceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's domicile and/or residence.
					Stereotype domicileAndOrResidenceForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_domicileAndOrResidenceForm:DomicileAndOrResidenceType">
				<xsd:sequence>
													<xsd:element name="Citizenship" type="pdc:NationalityType" minOccurs="1" maxOccurs="1"  />
													
										<xsd:element name="DateOfRegistration" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type date concerning the date a domicile and/or residence has been registered.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FormAbsenceOfCriminalRecordSlovenia" type="FormAbsenceOfCriminalRecordSloveniaType"/>
	<xsd:complexType name="FormAbsenceOfCriminalRecordSloveniaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to an absence of criminal record form.
					Stereotype absenceOfCriminalRecordForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
							<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
							
						<xsd:element name="Body" type="AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class AbsenceOfCriminalRecord.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormBirthSlovenia" type="FormBirthSloveniaType"/>
	<xsd:complexType name="FormBirthSloveniaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a birth form.
					Stereotype birthForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
							<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
							
						<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Birth.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormDeathSlovenia" type="FormDeathSloveniaType"/>
	<xsd:complexType name="FormDeathSloveniaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a death form.
					Stereotype deathForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
							<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
							
						<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Death.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormDomicileAndOrResidenceSlovenia" type="FormDomicileAndOrResidenceSloveniaType"/>
	<xsd:complexType name="FormDomicileAndOrResidenceSloveniaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a domicile and/or residence form.
					Stereotype xsdGlobalElement
					Stereotype domicileAndOrResidenceForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
							<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
							
						<xsd:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class DomicileAndOrResidence.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormMarriageSlovenia" type="FormMarriageSloveniaType"/>
	<xsd:complexType name="FormMarriageSloveniaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage form.
					Stereotype marriageForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
							<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
							
						<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Marriage.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormRegisteredPartnershipSlovenia" type="FormRegisteredPartnershipSloveniaType"/>
	<xsd:complexType name="FormRegisteredPartnershipSloveniaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a registered partnership form.
					Stereotype registeredPartnershipForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
							<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
							
						<xsd:element name="Body" type="RegisteredPartnershipType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class RegisteredPartnership.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_marriageForm:MarriageType">
				<xsd:sequence>
								<xsd:element name="Husband" type="MarriagePersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class MarriagePerson.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Wife" type="MarriagePersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class MarriagePerson.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="Comments" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning additional comments about a marriage.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriagePersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person getting married.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
										<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the identity number of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's parent.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning a person's surname.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the forename of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="PartnerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's partner.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
											<xsd:element name="Person" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the identity number of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a registered partnership.
					Stereotype registeredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_registeredPartnershipForm:RegisteredPartnershipType">
				<xsd:sequence>
								<xsd:element name="PartnerA" type="RegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class RegisteredPartnershipPerson.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="PartnerB" type="RegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class RegisteredPartnershipPerson.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="Comments" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning additional comments about a registered partnership.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person entering a registered partnership.
					Stereotype registeredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
											<xsd:element name="RegisteredPartnershipPerson" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the identity number of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	</xsd:schema>
	
	<!-- ===== Copyright Notice ============================== -->
	<!--
		        Public Documents XML schema 1.0
		        Copyright (C) European Union, 2017
		        Licensed under the ISA Open Metadata Licence
		        Original authors:
		        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
		        Emidio Stani (emidio.stani@be.pwc.com),
		        Ioana Novacean (ioana.novacean@be.pwc.com),
		        Inge Gielis (inge.gielis@be.pwc.com),
				Arne De Proft (arne.de.proft@be.pwc.com)
	-->
	<!-- ===================================================== -->
