generated/xsd/ms/formSlovakia-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/slovakia"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/slovakia"
	xmlns:pdc="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"	
	xmlns:forms="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	
		
	
	<xsd:complexType name="AddressType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to an address.
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StreetPOBox" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains contains the Street PO Box details of the address.
				
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			
			<xsd:element name="Place" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the location specification of the address.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    <xsd:element name="Country" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the name of the country.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    <xsd:element name="PostalCode" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the postal code of the address
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    <xsd:element name="DomicilePartOfTheMunicipality" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    
				
				    
				
				    <xsd:element name="DomicileBuildingNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    <xsd:element name="DomicileFlatNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    <xsd:element name="DomicileDistrict" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    <xsd:element name="ResidencePartOfTheMunicipality" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    
				
				    
				
				    <xsd:element name="ResidenceBuildingNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    <xsd:element name="ResidenceFlatNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    
				
				    
				
				    
				
				    
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
	
				
				    <xsd:complexType name="BirthCertificateType"/>
				
				    
				
				    
				
				    
				
				    
	
				
				    		
				
				    <xsd:complexType name="BirthPersonType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the birth of a person.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:complexContent>
				
				    			
				
				    			<xsd:restriction base="pdc:PersonType">
				
				    			<xsd:sequence>
				
				    				<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the person's surname.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    				<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the forename (first name or given name) of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    				<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    					<xsd:annotation>
				
				    					    <xsd:documentation>
				
				    							This property contains the date of birth of the person.
				
				    					    </xsd:documentation>
				
				    					</xsd:annotation>
				
				    				</xsd:element>
				
				    				
				
				    				
				
				    				
				
				    				<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="CountryOfBirth" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="Sex" type="pdc:SexType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="Father" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				<xsd:element name="Mother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    				
				
				    				
				
				    				
				
				    			</xsd:sequence>
				
				    		</xsd:restriction>
				
				    	</xsd:complexContent>
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
	
				
				    
				
				    <xsd:complexType name="ConfirmationIssuedForChoiceType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to the choice between the types of ID used to identify a person.
				
				    				Stereotype xsdChoice
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:choice>
				
				    		<xsd:element name="NaturalPerson" type="PersonType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		<xsd:element name="LegalPerson" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    		
				
				    		
				
				    		
				
				    	</xsd:choice>
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
				
				    
	
				
				    <xsd:complexType name="DeathCertificateType"/>
				
				    
				
				    
				
				    
				
				    
	
				
				    	
				
				    
				
				    <xsd:complexType name="DocumentInfoType">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    		This class contains elements related to information about a document. 
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    	<xsd:sequence>
				
				    		<xsd:element name="Kind" type="KindType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property refers to the class DocumentKindChoice.
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    			<xsd:annotation>
				
				    			    <xsd:documentation>
				
				    					This property contains the issue date of the document.
				
				    			
				
				    			    </xsd:documentation>
				
				    			</xsd:annotation>
				
				    		</xsd:element>
				
				    		
				
				    		
				
				    		
				
				    		
				
				    			
				
				    			    <xsd:element name="ReferenceNumber" type="forms:ReferenceNumberType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="IssuePlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="DocumentRegistrar" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="DocumentSignature" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="Volume" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="DocumentYear" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="DocumentPage" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="Stamp" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="OfficialSignature" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="IssueTime" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="ApplicationNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:element name="NumberOfPages" type="xsd:number" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    </xsd:element>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    	</xsd:sequence>
				
				    	
				
				    </xsd:complexType>
				
				    
				
				    
				
				    
				
				    
	
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:complexType name="DocumentKindChoiceType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		This class contains elements related to the choice between different types of documents.
				
				    			
				
				    			    				Stereotype xsdChoice
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:choice>
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="DocumentFromCourtOrTribunal" type="forms:DocumentFromCourtOrTribunalChoiceType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="AdministrativeDocument" type="forms:AdministrativeDocumentChoiceType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="NotarialAct" type="forms:NotarialActType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="OfficialCertificateOnDocumentSignedByPerson" type="forms:OfficialCertificateOnDocumentSignedByPersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="DocumentDrawnUpByDiplomaticOrConsularAgent" type="forms:DocumentDrawnUpByDiplomaticOrConsularAgentType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="BirthCertificate" minOccurs="1" maxOccurs="1" type="BirthCertificateType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="ExtractFromBirthsRegister" minOccurs="1" maxOccurs="1" type="ExractFromBirthsRegisterType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="DeathCertificate" minOccurs="1" maxOccurs="1" type="DeathCertificateType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="ExtractFromDeathsRegister" minOccurs="1" maxOccurs="1" type="ExtractFromDeathsRegisterType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="MarriageCertificate" minOccurs="1" maxOccurs="1" type="MarriageCertificateType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="ExtractFromMarriagesRegister" minOccurs="1" maxOccurs="1" type="ExtractFromMarriagesRegisterType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    	</xsd:choice>
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    	
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:complexType name="DomicileAndOrResidenceType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		This class contains elements related to the domicile and/or residence of a person.
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:sequence>
				
				    			
				
				    			    		<xsd:element name="ConcernedPerson" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="RegistrationOfficeNotes" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="PermanentTemporaryStay" minOccurs="1" maxOccurs="1" type="PermanentTemporaryStayChoiceType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="FromStay" minOccurs="1" maxOccurs="1" type="PermanentTemporaryStayChoiceType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="ToStay" minOccurs="1" maxOccurs="1" type="PermanentTemporaryStayChoiceType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="ConfirmationIssuedFor" minOccurs="1" maxOccurs="1" type="ConfirmationIssuedForChoiceType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="ConfirmationOfficial" type="pdc:OfficialType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    	</xsd:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    <xsd:complexType name="ExractFromBirthsRegisterType"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    <xsd:complexType name="ExtractFromDeathsRegisterType"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    <xsd:complexType name="ExtractFromMarriagesRegisterType"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:complexType name="ExtractFromTheCivilStatusRegisterType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		This class contains elements related to extracts from the civil status register. 
				
				    			
				
				    			    				Stereotype xsdChoice
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:choice>
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="BirthCertificate" minOccurs="1" maxOccurs="1" type="BirthCertificateType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="RegisterOfBirths" minOccurs="1" maxOccurs="1" type="RegisterOfBirthsType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    	</xsd:choice>
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    	
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:complexType name="LegalPersonType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:sequence>
				
				    			
				
				    			    		<xsd:element name="LegalPersonName" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="RegisteredOffice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    	</xsd:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    	
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:complexType name="MarriageType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		This class contains elements related to a marriage.
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:sequence>
				
				    			
				
				    			    		<xsd:element name="SpouseA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="SpouseB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					This property contains the date of the marriage.
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="PlaceOfMarriage" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="GroomMaritalStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="GroomFather" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="GroomMother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="BrideCivilStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="BrideFather" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="BrideMother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="SurnameSpousesChildren" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="Notes" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    	</xsd:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    <xsd:complexType name="MarriageCertificateType"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    		
				
				    			
				
				    			    <xsd:complexType name="OfficialType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:complexContent>
				
				    			
				
				    			    			
				
				    			
				
				    			    			<xsd:restriction base="pdc:PersonType">
				
				    			
				
				    			    			<xsd:sequence>
				
				    			
				
				    			    				<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    			
				
				    			    					<xsd:annotation>
				
				    			
				
				    			    					    <xsd:documentation>
				
				    			
				
				    			    							cvb:PersonFamilyName
				
				    			
				
				    			    					    </xsd:documentation>
				
				    			
				
				    			    					</xsd:annotation>
				
				    			
				
				    			    				</xsd:element>
				
				    			
				
				    			    				
				
				    			
				
				    			    				
				
				    			
				
				    			    				
				
				    			
				
				    			    				<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
				
				    			
				
				    			    					<xsd:annotation>
				
				    			
				
				    			    					    <xsd:documentation>
				
				    			
				
				    			    							cvb:PersonGivenName
				
				    			
				
				    			    					    </xsd:documentation>
				
				    			
				
				    			    					</xsd:annotation>
				
				    			
				
				    			    				</xsd:element>
				
				    			
				
				    			    				
				
				    			
				
				    			    				
				
				    			
				
				    			    				
				
				    			
				
				    			    				<xsd:element name="TitleOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    					<xsd:annotation>
				
				    			
				
				    			    					    <xsd:documentation>
				
				    			
				
				    			    							
				
				    			
				
				    			    					    </xsd:documentation>
				
				    			
				
				    			    					</xsd:annotation>
				
				    			
				
				    			    				</xsd:element>
				
				    			
				
				    			    				
				
				    			
				
				    			    				
				
				    			
				
				    			    				
				
				    			
				
				    			    				
				
				    			
				
				    			    			</xsd:sequence>
				
				    			
				
				    			    		</xsd:restriction>
				
				    			
				
				    			    	</xsd:complexContent>
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    <xsd:complexType name="PermanentStayType"/>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:complexType name="PermanentTemporaryStayChoiceType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		This class contains elements related to the choice between the types of ID used to identify a person.
				
				    			
				
				    			    				Stereotype xsdChoice
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:choice>
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="PermanentStay" minOccurs="1" maxOccurs="1" type="PermanentStayType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    			
				
				    			
				
				    			    		<xsd:element name="TemporaryStay" minOccurs="1" maxOccurs="1" type="TemporaryStayType">
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    	</xsd:choice>
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    	
				
				    			
				
				    			    
				
				    			
				
				    			    <xsd:complexType name="PersonType">
				
				    			
				
				    			    	<xsd:annotation>
				
				    			
				
				    			    	    <xsd:documentation>
				
				    			
				
				    			    		This class contains elements related to a person.
				
				    			
				
				    			    				Stereotype cvABIE
				
				    			
				
				    			    	    </xsd:documentation>
				
				    			
				
				    			    	</xsd:annotation>
				
				    			
				
				    			    	<xsd:sequence>
				
				    			
				
				    			    		<xsd:element name="Surname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					This property contains the person's last name.
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="SurnameAtBirth" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    			<xsd:annotation>
				
				    			
				
				    			    			    <xsd:documentation>
				
				    			
				
				    			    					This property contains the person's last name at the time of his/her birth.
				
				    			
				
				    			    			
				
				    			
				
				    			    			    </xsd:documentation>
				
				    			
				
				    			    			</xsd:annotation>
				
				    			
				
				    			    		</xsd:element>
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		
				
				    			
				
				    			    		<xsd:element name="Forename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    			This property contains the person's first name or given name.
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    <xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="0" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    			This property contains the person's date of birth.
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    <xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="CountryOfBirth" type="pdc:CountryType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="DateOfDeath" type="udt:DateType" minOccurs="0" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    			This property contains the person's date of death (if applicable).
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="PlaceOfDeath" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="CountryOfDeath" type="pdc:CountryType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="Sex" type="pdc:SexType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="Nationality" type="pdc:NationalityType" minOccurs="0" maxOccurs="unbounded"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    			This property contains the past surname of the person (if applicable)
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    			This property contains the future surname of the person (if applicable)
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    			This property contains the previous surname of the person (if applicable)
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    <xsd:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			This property contains the previous forename (first name) of the person (if applicable). 
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:element name="PersonalIdentificationNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:element name="Notes" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    	</xsd:sequence>
				
				    			
				
				    			    	
				
				    			
				
				    			    </xsd:complexType>
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
				
				    			
				
				    			    
	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    		
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:complexType name="ReferenceNumberTestType">
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    		This class contains elements related to a document's reference number. 
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	<xsd:complexContent>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			<xsd:extension base="forms:ReferenceNumberType">
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			<xsd:sequence>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				<xsd:element name="Volume" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    							
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				</xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				<xsd:element name="Year" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    							
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				</xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				<xsd:element name="Page" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					<xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					    <xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    							
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					    </xsd:documentation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    					</xsd:annotation>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				</xsd:element>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    				
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    			</xsd:sequence>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    		</xsd:extension>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    	</xsd:complexContent>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    </xsd:complexType>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:complexType name="RegisterOfBirthsType"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    <xsd:complexType name="TemporaryStayType"/>
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	
				
				    			
				
				    			    			
				
				    			
				
				    			    			    	    	    
	
	</xsd:schema>
