generated/xsd/ms/formAustria-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1.0/ns/forms/austria#"
	xmlns="http://data.europa.eu/edm/1.0/ns/forms/austria#"
	xmlns:pdc="http://data.europa.eu/edm/1.0/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="CapacityToEnterRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="forms:CapacityToEnterRegisteredPartnershipType">
				<xsd:sequence>
					<xsd:element name="LastMarriageOrRegisteredPartnership" type="LastMarriageOrRegisteredPartnershipType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property refers to the class LastMarriageOrRegisteredPartnership.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="forms:CapacityToMarryType">
				<xsd:sequence>
					<xsd:element name="LastMarriageOrRegisteredPartnership" type="LastMarriageOrRegisteredPartnershipType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="forms:DocumentInfoType">
				<xsd:sequence>
					<xsd:element name="CourtOfIssue" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomicileAndOrResidenceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="forms:DomicileAndOrResidenceType">
				<xsd:sequence>
					<xsd:element name="SecondaryResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="RegisteredSince" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the date on which the domicile and/or residence of the person concerned by the form was registered.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the former spouse or partner of the person concerned by the form.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="FormerSpouseOrPartner" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of marital status.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="FormerSpouseOrPartner" type="FormerSpouseOrPartnerType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoFormerOrPartnerSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IDTypeAndNoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="IssuingAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ExpiryDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfIssue" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IssuingState" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="LastMarriageOrRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains information about the last marriage or registered partnership of the person concerned by the form.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="DissolvedBy" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DissolvedOn" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property contains the date on which the last marriage or registered partnership of the person concerned by the form was dissolved.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DissolvedIn" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MaritalStatusType"/>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="OtherNames" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains other names used by the concerned person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AcademicQualificationsOrProfessionalTitles" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains academic qualifications or professional titles held by the concerned person. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LastMarriageOrRegisteredPartnership" minOccurs="1" maxOccurs="1" type="MaritalStatusType">
					</xsd:element>
					<xsd:element name="AcademicTitlePrefix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the academic title prefix of the concerned person. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FormerSpouseOrPartner" minOccurs="1" maxOccurs="1" type="FormerSpouseOrPartnerChoiceType">
					</xsd:element>
					<xsd:element name="LastPlaceOfResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="RegistrationOfBirth" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property refers to the class ReferenceNumber. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Mother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="Father" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="AcademicTitleSuffix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								This property contains the academic title suffix of the concerned person. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TravelDocumentChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of travel document.
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="AustrianCitizenNoDocument" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation xml:lang="en">
						This property relates to the class AustrianCitizenNoDocument.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TravelDocument" minOccurs="1" maxOccurs="1" type="IDTypeAndNoType">
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	</xsd:schema>
