generated/xsd/ms/formSlovakia-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/slovakia"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/slovakia"
	xmlns:forms="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	
	<xsd:complexType name="ExtractFromTheCivilStatusRegisterType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to extracts from the civil status register. 
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
				
			<xsd:element name="RodnyList" minOccurs="1" maxOccurs="1">
			<xsd:complexType/>
			</xsd:element>
			
			
				
			<xsd:element name="KnihaNarodeni" minOccurs="1" maxOccurs="1">
			<xsd:complexType/>
			</xsd:element>
			
			
			
		</xsd:choice>
	</xsd:complexType>
	
	
	
	
	
	
	
	
	
			
	<xsd:complexType name="ReferenceNumberTestType">
		<xsd:annotation>
		    <xsd:documentation>
			This class contains elements related to a document's reference number. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
				
				<xsd:extension base="forms:ReferenceNumberType">
				<xsd:sequence>
					<xsd:element name="Zwazok" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					
					<xsd:element name="Rocnik" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					
					<xsd:element name="Strana" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	
	
	
	
	
	
	</xsd:schema>
