generated/xsd/ms/formAustria-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/austria"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/austria"
	xmlns:pdc="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"	
	xmlns:forms="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:cls="http://e-documents.semic.eu/publicdocuments/1.0/ns/codelist/sex"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/codelist/sex"
			   schemaLocation="../../xsd/common/codelist/cls-codelist-Sex-1.0.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the absence of a criminal record of a person. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="pdc:AbsenceOfCriminalRecordPersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the identity number. 
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDTypeAndNo" type="forms:IDTypeAndNoType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="AbsenceOfACriminalRecord" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the boolean value (true or false) regarding the absence of a criminal record.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="AustrianCitizenNoDocumentType"/>
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the birth of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the birth of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the person's surname.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the forename (first name or given name) of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the date of birth of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="CountryOfBirth" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property refers to the class Sex.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToEnterRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the capacity to enter into a registered partnership of a couple.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="IntendedPartner" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CanEnterRegisteredPartnership" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="LastMarriageOrRegisteredPartnership" type="LastMarriageOrRegisteredPartnershipType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property refers to the class LastMarriageOrRegisteredPartnership.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the capacity to marry of a couple.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="IntendedSpouse" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CanMarry" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="LastMarriageOrRegisteredRelationship" type="LastMarriageOrRegisteredPartnershipType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the death of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Person" type="pdc:DeathPersonType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to a person.
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="Surname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the person's last name.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="SurnameAtBirth" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the person's last name at the time of his/her birth.
				
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="Forename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the person's first name or given name.
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>	
				
				    <xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="0" maxOccurs="1" >
				
				    	<xsd:annotation>
				
				    	    <xsd:documentation>
				
				    			This property contains the person's date of birth.
				
				    	
				
				    	    </xsd:documentation>
				
				    	</xsd:annotation>
				
				    </xsd:element>
				
				    <xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    <xsd:element name="CountryOfBirth" type="pdc:CountryType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    <xsd:element name="DateOfDeath" type="udt:DateType" minOccurs="0" maxOccurs="1" >
				
				    	
				
				    	    	<xsd:annotation>
				
				    	
				
				    	    	    <xsd:documentation>
				
				    	
				
				    	    			This property contains the person's date of death (if applicable).
				
				    	
				
				    	    	    </xsd:documentation>
				
				    	
				
				    	    	</xsd:annotation>
				
				    	
				
				    	    </xsd:element>
				
				    	
				
				    	    <xsd:element name="PlaceOfDeath" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    <xsd:element name="CountryOfDeath" type="pdc:CountryType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    <xsd:element name="Sex" type="cls:SexType" minOccurs="0" maxOccurs="1" >
				
				    	
				
				    	    	<xsd:annotation>
				
				    	
				
				    	    	    <xsd:documentation>
				
				    	
				
				    	    			This property contains the sex of the person
				
				    	
				
				    	    	    </xsd:documentation>
				
				    	
				
				    	    	</xsd:annotation>
				
				    	
				
				    	    </xsd:element>
				
				    	
				
				    	    <xsd:element name="Nationality" type="pdc:NationalityType" minOccurs="0" maxOccurs="unbounded"/>
				
				    	
				
				    	    <xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    <xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    <xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    	
				
				    	    	<xsd:annotation>
				
				    	
				
				    	    	    <xsd:documentation>
				
				    	
				
				    	    			This property contains the past surname of the person (if applicable)
				
				    	
				
				    	    	    </xsd:documentation>
				
				    	
				
				    	    	</xsd:annotation>
				
				    	
				
				    	    </xsd:element>	
				
				    	
				
				    	    <xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    	
				
				    	    	<xsd:annotation>
				
				    	
				
				    	    	    <xsd:documentation>
				
				    	
				
				    	    			This property contains the future surname of the person (if applicable)
				
				    	
				
				    	    	    </xsd:documentation>
				
				    	
				
				    	    	</xsd:annotation>
				
				    	
				
				    	    </xsd:element>	
				
				    	
				
				    	    <xsd:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    	
				
				    	    	<xsd:annotation>
				
				    	
				
				    	    	    <xsd:documentation>
				
				    	
				
				    	    			This property contains the previous surname of the person (if applicable)
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:documentation>
				
				    	
				
				    	    	</xsd:annotation>
				
				    	
				
				    	    </xsd:element>	
				
				    	
				
				    	    <xsd:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			This property contains the previous forename (first name) of the person (if applicable). 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="OtherNames" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			This property contains other names used by the concerned person.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="AcademicQualificationsOrProfessionalTitles" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			This property contains academic qualifications or professional titles held by the concerned person. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="Father" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="Mother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="LastMarriageOrRegisteredPartnership" type="MaritalStatusType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			This property relates to the class MaritalStatus.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="FormerSpouseOrPartner" minOccurs="1" maxOccurs="1" type="FormerSpouseOrPartnerChoiceType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="RegistrationOfBirth" minOccurs="1" maxOccurs="1" type="ReferenceNumberType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="AcademicTitlePrefix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			This property contains the academic title prefix of the concerned person. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="AcademicTitleSuffix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			This property contains the academic title suffix of the concerned person. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    <xsd:element name="LastPlaceOfResidence" type="cva:AddressType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			This property relates to the class Address.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    		This class contains elements related to information about a document. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    		<xsd:element name="Kind" type="KindType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    					This property refers to the class DocumentKindChoice.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    		<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    					This property contains the issue date of the document.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    		<xsd:element name="ReferenceNumber" type="forms:ReferenceNumberType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    <xsd:element name="CourtOfIssue" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    </xsd:complexType>
	<xsd:complexType name="DomicileAndOrResidenceType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the domicile and/or residence of a person.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="ConcernedPerson" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="RegisteredSince" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the date on which the domicile and/or residence of the person concerned by the form was registered.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="SecondaryResidence" type="cva:AddressType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property relates to the class Address.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="FormHeaderType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the form header of a form.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property refers to the class DocumentInfo. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="SignatureInfo" type="SignatureInfoType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property refers to the class SignatureInfo.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="ExtensionHeader" type="ext:UBLExtensionsType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains potential future extensions to the header of each form. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the title of the form, corresponding to the main subject or life area covered in the form. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="ImportantNotice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains a notice on the purpose of the form. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="NoteForTheIssuingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains a note for the issuing authority regarding which information is to be mentioned. 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the former spouse or partner of the person concerned by the form.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="FormerSpouseOrPartner" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerChoiceType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the choice of marital status.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    				Stereotype xsdChoice
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:choice>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="FormerSpouseOrPartner" type="FormerSpouseOrPartnerType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="NoFormerOrPartnerSpouse" minOccurs="1" maxOccurs="1" type="NoFormerSpouseOrPartnerType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:choice>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="IDTypeAndNoType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the choice between the types of ID used to identify a person.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    				Stereotype xsdChoice
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:choice>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="NationalIdentityCardNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the string value of the number of the national identity card.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="PassportNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the string value of the passport number.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DrivingLicenceNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the string value of the driving licence number.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="OtherIDType" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property refers to the class OtherIDType.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="OtherIDTypeNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DateOfIssue" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="ExpiryDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="IssuingAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="IssuingState" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:choice>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="LastMarriageOrRegisteredPartnershipType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains information about the last marriage or registered partnership of the person concerned by the form.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DissolvedBy" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DissolvedOn" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the date on which the last marriage or registered partnership of the person concerned by the form was dissolved.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DissolvedIn" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="LifeType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the life of a person.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Address" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="IsAlive" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the boolean value (true or false) for whether the person is alive.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="MaritalStatusType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the marital status of a person.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="MaritalStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="MarriageType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to a marriage.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="SpouseA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="SpouseB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the date of the marriage.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="PlaceOfMarriage" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="NoFormerSpouseOrPartnerType"/>
	<xsd:complexType name="ReferenceNumberType"/>
	<xsd:complexType name="RegisteredPartnershipType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to a registered partnership.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="PartnerA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="PartnerB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="DateOfRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the date the registered partnership is concluded.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="PlaceOfRegisteredPartnership" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipStatusType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the registered partnership status of a person.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="RegisteredPartnershipStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"/>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="SignatureInfoType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the signature of the official handling the document.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:sequence> 
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="SurnameForenameOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the surname and forename of the official.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="PositionOfOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the position of the official.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					This property contains the issue data of the document.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="Signature" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					Although the signature field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="SealOrStamp" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    <xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    					Although the seal or stamp field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    			</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:sequence>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	<xsd:complexType name="TravelDocumentChoiceType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    <xsd:documentation xml:lang = "en">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		This class contains elements related to the choice of travel document.
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    				Stereotype xsdChoice
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	    </xsd:documentation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:annotation>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	<xsd:choice>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="AustrianCitizenNoDocument" minOccurs="1" maxOccurs="1" type="AustrianCitizenNoDocumentType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		<xsd:element name="TravelDocument" minOccurs="1" maxOccurs="1" type="IDTypeAndNoType">
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		</xsd:element>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    		
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    	</xsd:choice>
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			
				
				    	
				
				    	    	
				
				    	
				
				    	    	    			    </xsd:complexType>
	</xsd:schema>
