generated/xsd/ms/formFinland-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/finland"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/finland"
	xmlns:pdc="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"	
	xmlns:forms="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:cls="http://e-documents.semic.eu/publicdocuments/1.0/ns/codelist/sex"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/codelist/sex"
			   schemaLocation="../../xsd/common/codelist/cls-codelist-Sex-1.0.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:BirthPersonType">
				<xsd:sequence>
					<xsd:element name="MotherIdentityAscertained" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MaternityHospital" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CanMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:CanMarryType">
				<xsd:sequence>
					<xsd:element name="CanMarryRequestNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CanMarryRequestState" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="CanMarryRequestDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="forms:CapacityToMarryType">
				<xsd:sequence>
					<xsd:element name="InfoReligiousWedding" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ForeignIntendedSpouse" minOccurs="1" maxOccurs="1" type="ForeignIntendedSpouseChoiceType">
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="forms:DocumentInfoType">
				<xsd:sequence>
					<xsd:element name="LocalRegistryAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="RegistrationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomicileAndOrResidenceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="forms:DomicileAndOrResidenceType">
				<xsd:sequence>
					<xsd:element name="RemovalDateResidence" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForeignIntendedSpouseType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="ForeignIntendedSpouse" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="ForeignIntendedSpouseChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="NotForeignIntendedSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForeignIntendedSpouse" type="ForeignIntendedSpouseType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="MaritalOrRegisteredPartnershipStatusPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:MarriageOrRegisteredPartnershipPersonType">
				<xsd:sequence>
					<xsd:element name="MaritalOrRegisteredPartnershipStatus" minOccurs="1" maxOccurs="1" type="NotMarriedChoiceType">
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MaritalStatusChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="NotMarried" type="pdc:NotMarriedChoiceType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DateOfMarriageOrRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						This property contains the date of marriage.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="NotMarriedChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="DivorcedFromRegisteredPartnershipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WidowedFromRegisteredPartnershipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
					Stereotype cvABIE
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="PlaceOfDeath" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CountryOfResidence" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="DateOfDeath" type="udt:DateType" minOccurs="0" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the person's date of death (if applicable).
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Surname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the person's last name.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="Forename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the person's first name or given name.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="PersonalInfoDisclosureForbidden" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TemporaryAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="NameNormallyUsed" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SurnameAtBirth" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the person's last name at the time of his/her birth.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="IsLiving" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MainResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="PersonalIdentificationNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MotherTongue" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PostalAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="Mother" type="PersonType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="DateOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfEntryIntoEffectOfDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfPartnershipDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonForDissolution" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipDissolutionChoiceType">
			</xsd:element>
			<xsd:element name="DateOfEntryIntoEffectOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipDissolutionChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="RegisteredPartnershipDissolvedByMarriage" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisteredPartnershipDissolvedByDeath" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RegisteredPartnershipDissolvedByRequest" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:choice>
	</xsd:complexType>
	</xsd:schema>
