generated/xsd/ms/formMalta-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formMalta-1.0.xsd
    Generated On: 29/11/2017 14:14 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/malta#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/malta#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the absence of criminal record of a person.
					Stereotype absenceOfCriminalRecordForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_absenceOfCriminalRecordForm:AbsenceOfCriminalRecordType">
				<xsd:sequence>
										<xsd:element name="Declaration" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the declaration of a police representative.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Person" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class Person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="IsAPersonOfGoodConduct" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type boolean concerning whether an individual is a person of good conduct. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="Date" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type date concerning the date a certificate of absence of criminal record has been issued.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="PoliceCommissioner" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning a police commissioner.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="Initials" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning a person's initials.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the birth of a person.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_birthForm:BirthType">
				<xsd:sequence>
								<xsd:element name="PersonMakingDeclaration" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class Person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's capacity to marry.
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_capacityToMarryForm:CapacityToMarryType">
				<xsd:sequence>
										<xsd:element name="Declaration" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the declaration from an official concerning the capacity to marry of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CivilUnionPartyType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the parties of a civil union.
					Stereotype registeredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the forename of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the surname of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date of birth of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="IdentificationDocument" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning a person's identification document.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
						<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class Parent.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class Parent.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
								<xsd:element name="MothersMaidenSurname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the maiden surname of a person's mother.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's death.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_deathForm:DeathType">
				<xsd:sequence>
								<xsd:element name="Person" type="DeathPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class DeathPerson
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a deceased person.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
							<xsd:element name="MaritalStatus" minOccurs="1" maxOccurs="1" type="MaritalStatusType">
							</xsd:element>
							
										<xsd:element name="AgeYears" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type nonNegativeInteger regarding the age in years of the deceased person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
													<xsd:element name="PlaceOfResidence" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
													
										<xsd:element name="CauseOfDeath" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning a deceased person's cause of death.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
													<xsd:element name="PlaceOfBurial" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
													
										<xsd:element name="TimeOfDeath" type="udt:TimeType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type time concerning a person's time of death.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to information about a document.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_commonPart:DocumentInfoType">
				<xsd:sequence>
										<xsd:element name="ProgressiveEntryNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the progressive number of an entry.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="DirectorSignature" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the signature of the Director or other Officer authorised to act in his stead.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="OfficerInCharge" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the officer in charge.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="ReceiptDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type date concerning the date a document was received.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FormAbsenceOfCriminalRecordMalta" type="FormAbsenceOfCriminalRecordMaltaType"/>
	<xsd:complexType name="FormAbsenceOfCriminalRecordMaltaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to an absence of criminal record form.
					Stereotype absenceOfCriminalRecordForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class AbsenceOfCriminalRecord.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormBirthMalta" type="FormBirthMaltaType"/>
	<xsd:complexType name="FormBirthMaltaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a birth form.
					Stereotype birthForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Birth.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormCapacityToMarryMalta" type="FormCapacityToMarryMaltaType"/>
	<xsd:complexType name="FormCapacityToMarryMaltaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a capacity to marry form.
					Stereotype xsdGlobalElement
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class CapacityToMarry.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormDeathMalta" type="FormDeathMaltaType"/>
	<xsd:complexType name="FormDeathMaltaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a death form.
					Stereotype deathForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Death.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormHeaderType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_commonPart:FormHeaderType">
				<xsd:sequence>
								<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class DocumentInfo.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FormMarriageMalta" type="FormMarriageMaltaType"/>
	<xsd:complexType name="FormMarriageMaltaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage form. 
					Stereotype marriageForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Marriage.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormRegisteredPartnershipMalta" type="FormRegisteredPartnershipMaltaType"/>
	<xsd:complexType name="FormRegisteredPartnershipMaltaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a registered partnership form.
					Stereotype registeredPartnershipForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="RegisteredPartnershipType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class RegisteredPartnership.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property can contain any type of information.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MaritalStatusType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This choice class contains properties related to the marital status of a person.
					Stereotype deathForm
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
								<xsd:element name="Married" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Single" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Widow" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="MarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_marriageForm:MarriageType">
				<xsd:sequence>
								<xsd:element name="OfficiatingMinisterDeclaration" type="MinisterDeclarationType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class MinisterDeclaration.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="Church" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the name of a church.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Husband" type="SpouseType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class SpouseParticulars.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Wife" type="SpouseType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class SpouseParticulars.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Witness" type="MarriageWitnessType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class MarriageWitness.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
							<xsd:element name="SurnameDeclaration" minOccurs="1" maxOccurs="1" type="SurnameChoiceType">
							</xsd:element>
							
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageWitnessType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the witness of a marriage.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning a witness's forename.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the witness's surname.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date of birth of a marriage witness.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
											<xsd:element name="ResidencePlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MinisterDeclarationType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the declaration of a marriage's officiating minister.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="OfficiatingMinisterSignature" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the signature of an officiating minister.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Church" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the name of a church.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="MinisterDeclarationDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date of marriage declared by a minister.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Confirmation" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether the declarations in the marriage certificate were signed in the presence of the officiating minister.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="SignatureOfficiatingMinister" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the signature of an officiating minister.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="ParishSeal" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning a parish seal.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="ParentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's parent.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="Name" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="IdentificationDocument" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Years" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
											<xsd:element name="PlaceOfResidence" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="Alive" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="PartnershipWitnessType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a witness to a registered partnership.
					Stereotype registeredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the forename of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the name of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date of birth of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
											<xsd:element name="PlaceOfResidence" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to information about a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
								<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Parent.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Parent.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="IDCardNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the identification card number of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="BirthTime" type="udt:TimeType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type time concerning the time of birth of a person. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="IdentificationDocument" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the identification document of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a registered partnership.
					Stereotype registeredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_registeredPartnershipForm:RegisteredPartnershipType">
				<xsd:sequence>
								<xsd:element name="SpouseA" type="CivilUnionPartyType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class CivilUnionParty.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="SpouseB" type="CivilUnionPartyType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class CivilUnionParty.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Witness" type="PartnershipWitnessType" minOccurs="0" maxOccurs="unbounded" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class PartnershipWitness.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>	
								
										<xsd:element name="PartiesDeclaration" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the declaration made by the parties of a registered partnership concerning entering said registered partnership.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="PartySignature" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the signature of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="WitnessSignature" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the signature of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="RegistrarConfirmation" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the registrar's confirmation that the parties to a registered partnership signed their declarations in their presence.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SpouseType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's spouse.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
										<xsd:element name="MaidenSurnameMother" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the maiden surname of the spouse's mother.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the forename of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the surname of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SurnameChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the choices a wife can make regarding her surname after marriage.
					Stereotype marriageForm
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
								<xsd:element name="HusbandSurname" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning the choice of a wife to take her husband's surname.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="RetainMaidenSurname" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning the choice of a wife to retain her maiden surname after marriage.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="PredeceasedSpouseSurname" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning a wife's choice to adopt the surname of a predeceased spouse.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:choice>
	</xsd:complexType>
	</xsd:schema>
	
	<!-- ===== Copyright Notice ============================== -->
	<!--
		        Public Documents XML schema 1.0
		        Copyright (C) European Union, 2017
		        Licensed under the ISA Open Metadata Licence
		        Original authors:
		        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
		        Emidio Stani (emidio.stani@be.pwc.com),
		        Ioana Novacean (ioana.novacean@be.pwc.com),
		        Inge Gielis (inge.gielis@be.pwc.com),
				Arne De Proft (arne.de.proft@be.pwc.com)
	-->
	<!-- ===================================================== -->
