generated/xsd/ms/formFinland-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/finland"
	xmlns="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms/finland"
	xmlns:pdc="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"	
	xmlns:forms="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:cls="http://e-documents.semic.eu/publicdocuments/1.0/ns/codelist/sex"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<xsd:annotation>	
		<xsd:documentation xml:lang="en">
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="http://e-documents.semic.eu/publicdocuments/1.0/ns/codelist/sex"
			   schemaLocation="../../xsd/common/codelist/cls-codelist-Sex-1.0.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfCriminalRecordType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the absence of a criminal record of a person. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="forms:AbsenceOfCriminalRecordType">
				<xsd:sequence>
					<xsd:element name="Person" type="pdc:AbsenceOfCriminalRecordPersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the identity number. 
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IDTypeAndNo" type="forms:IDTypeAndNoType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="AbsenceOfACriminalRecord" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the boolean value (true or false) regarding the absence of a criminal record.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PublicDocumentVerificationWebsite" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	
	
	
			
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the birth of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="forms:BirthType">
				<xsd:sequence>
					<xsd:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	
	
	
			
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the birth of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="pdc:PersonType">
				<xsd:sequence>
					<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the person's surname.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the forename (first name or given name) of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the date of birth of the person.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="CountryOfBirth" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property refers to the class Sex.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BirthTime" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MotherIdentityAscertained" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MaternityHospital" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	
	
	
		
	<xsd:complexType name="CanMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the capacity to marry of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
			<xsd:element name="HasCapacityToMarry" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						The person concerned has the capacity to marry under the national law of the Member State where the public document is issued.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AppearsToHaveNoMarriage" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						The person concerned appears to have no marriage in his or her name under the national law of the Member State where the public document is issued.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoKnownImpediment" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						There is no known impediment for the person concerned to marry under the national law of the Member State where the public document is issued.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoKnownImpedimentIntendedSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						There is no known impediment to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NoOppositionknown" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						There is no opposition known to a marriage between the person concerned and his or her intended spouse under the national law of the Member State where the public document is issued.
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanMarryRequestDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanMarryRequestState" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CanMarryRequestNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
				<xsd:annotation>
				    <xsd:documentation>
						
				    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
	</xsd:complexType>
	
	
	
	
	
			
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the capacity to marry of a couple.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="forms:CapacityToMarryType">
				<xsd:sequence>
					<xsd:element name="Person" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="IntendedSpouse" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="CanMarry" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="MarriagePublished" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								The draft marriage required by the law of the Member State whose authority establishes this document has been published. (FR: Il a été procédé à la publication du projet de mariage exigée par la loi de l’Etat membre dont l’autorité établit le présent document)
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AdditionalInformation" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="InfoReligiousWedding" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ForeignIntendedSpouse" minOccurs="1" maxOccurs="1" type="ForeignIntendedSpouseChoiceType">
					</xsd:element>
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	
	
	
			
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to the death of a person.
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="forms:DeathType">
				<xsd:sequence>
					<xsd:element name="Person" type="pdc:DeathPersonType" minOccurs="1" maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	
	
	
			
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang = "en">
			This class contains elements related to information about a document. 
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="forms:DocumentInfoType">
				<xsd:sequence>
					<xsd:element name="Kind" type="KindType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property refers to the class DocumentKindChoice.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation>
								This property contains the issue date of the document.
						
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ReferenceNumber" type="forms:ReferenceNumberType" minOccurs="1" maxOccurs="1"/>
						
						    <xsd:element name="CertificateOfficial" type="pdc:OfficialType" minOccurs="1" maxOccurs="1"/>
						
						    <xsd:element name="IssueTime" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation>
						
						    			
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    </xsd:element>
						
						    <xsd:element name="DateOfDecision" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation>
						
						    			
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    </xsd:element>
						
						    <xsd:element name="NatureOfDecision" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation>
						
						    			
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    </xsd:element>
						
						    <xsd:element name="DecisionAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
						
						    <xsd:element name="DateOfAuthorisation" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation>
						
						    			
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    </xsd:element>
						
						    <xsd:element name="AuthorisationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
						
						    <xsd:element name="OtherMentions" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation>
						
						    			
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    </xsd:element>
						
						    <xsd:element name="RegistrationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
						
						    <xsd:element name="LocalRegistryAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
						
						    <xsd:element name="RegistrationAuthorityNickname" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation>
						
						    			
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    </xsd:element>
						
						    
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	
	
	
						
						    	
						
						    <xsd:complexType name="DomicileAndOrResidenceType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to the domicile and/or residence of a person.
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:sequence> 
						
						    		<xsd:element name="ConcernedPerson" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
						
						    		<xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
						
						    		<xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
						
						    		<xsd:element name="RemovalDateResidence" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		
						
						    	</xsd:sequence>
						
						    	
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    	
						
						    <xsd:complexType name="ForeignIntendedSpouseType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:sequence> 
						
						    		<xsd:element name="ForeignIntendedSpouse" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    		
						
						    	</xsd:sequence>
						
						    	
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    <xsd:complexType name="ForeignIntendedSpouseChoiceType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to the specific situation of not-married individuals.
						
						    				Stereotype xsdChoice
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:choice>
						
						    		<xsd:element name="NotForeignIntendedSpouse" minOccurs="1" maxOccurs="1" type="NotForeignIntendedSpouseType">
						
						    		</xsd:element>
						
						    		<xsd:element name="ForeignIntendedSpouse" type="ForeignIntendedSpouseType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		
						
						    	</xsd:choice>
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    		
						
						    <xsd:complexType name="LifeType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to the life of a person.
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:complexContent>
						
						    		<xsd:restriction base="forms:LifeType">
						
						    			<xsd:sequence>
						
						    				<xsd:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="Address" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="IsAlive" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the boolean value (true or false) for whether the person is alive.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				<xsd:element name="PresentedID" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				<xsd:element name="PersonAppearedBeforeAuthority" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				
						
						    			</xsd:sequence>
						
						    		</xsd:restriction>
						
						    	</xsd:complexContent>
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    		
						
						    <xsd:complexType name="MaritalOrRegisteredPartnershipStatusPersonType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to the marital or registered partnership status of a person.
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:complexContent>
						
						    		<xsd:restriction base="pdc:PersonType">
						
						    			<xsd:sequence>
						
						    				<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the surname (i.e. the last name or family name) of the person.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>	
						
						    				<xsd:element name="SurnameAtBirth" type="udt:TextType" minOccurs="1" maxOccurs="unbounded">
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the person's surname at the time of his/her birth.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>	
						
						    				<xsd:element name="Forename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the person's forename (i.e. first name or given name).
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>	
						
						    				<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the person's date of birth.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="CountryOfBirth" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="Sex" type="cls:SexType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property refers to the class Sex.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				<xsd:element name="Nationality" type="pdc:NationalityType" minOccurs="1" maxOccurs="unbounded"/>
						
						    				<xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the previous surname of the person.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>	
						
						    				<xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the future surname of the person.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>	
						
						    				<xsd:element name="MaritalOrRegisteredPartnershipStatus" minOccurs="1" maxOccurs="1" type="MaritalStatusChoiceType">
						
						    				</xsd:element>
						
						    				
						
						    			</xsd:sequence>
						
						    		</xsd:restriction>
						
						    	</xsd:complexContent>
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    	
						
						    <xsd:complexType name="MaritalStatusType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to the marital status of a person.
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:sequence> 
						
						    		<xsd:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"/>
						
						    		<xsd:element name="MaritalStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"/>
						
						    		
						
						    	</xsd:sequence>
						
						    	
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    <xsd:complexType name="MaritalStatusChoiceType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to the choice of marital status.
						
						    				Stereotype xsdChoice
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:choice>
						
						    		<xsd:element name="DateOfMarriageOrRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					This property contains the date of marriage.
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		<xsd:element name="NotMarried" type="pdc:NotMarriedChoiceType" minOccurs="1" maxOccurs="1"/>
						
						    		<xsd:element name="Single" minOccurs="1" maxOccurs="1" type="SingleType">
						
						    		</xsd:element>
						
						    		
						
						    	</xsd:choice>
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    		
						
						    <xsd:complexType name="MarriageType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to a marriage.
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:complexContent>
						
						    		<xsd:restriction base="forms:MarriageType">
						
						    			<xsd:sequence>
						
						    				<xsd:element name="SpouseA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="SpouseB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							This property contains the date of the marriage.
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				<xsd:element name="PlaceOfMarriage" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="DeclarationOfSpousalAndUnionPronouncement" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				<xsd:element name="FirstWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="SecondWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="ThirdWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="FourthWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="MarriageContractDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				<xsd:element name="MarriageContractNotaryPlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
						
						    				<xsd:element name="KeyReferences" type="formFrance:KeyReferencesChoiceType" minOccurs="1" maxOccurs="1" >
						
						    					<xsd:annotation>
						
						    					    <xsd:documentation>
						
						    							
						
						    					    </xsd:documentation>
						
						    					</xsd:annotation>
						
						    				</xsd:element>
						
						    				
						
						    			</xsd:sequence>
						
						    		</xsd:restriction>
						
						    	</xsd:complexContent>
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    <xsd:complexType name="NotForeignIntendedSpouseType"/>
						
						    
						
						    
						
						    
						
						    
	
						
						    <xsd:complexType name="NotMarriedChoiceType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to the specific situation of not-married individuals.
						
						    				Stereotype xsdChoice
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:choice>
						
						    		<xsd:element name="NeverMarried" type="NeverMarriedType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					This property refers to the class NeverMarried.
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		<xsd:element name="DivorceDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					This property contains the date of the divorce.
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		<xsd:element name="WidowshipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					This property contains the date of widowship.
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		<xsd:element name="DivorcedFromRegisteredPartnershipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		<xsd:element name="WidowedFromRegisteredPartnershipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>
						
						    		
						
						    	</xsd:choice>
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    	
						
						    <xsd:complexType name="PersonType">
						
						    	<xsd:annotation>
						
						    	    <xsd:documentation xml:lang = "en">
						
						    		This class contains elements related to a person.
						
						    				Stereotype cvABIE
						
						    	    </xsd:documentation>
						
						    	</xsd:annotation>
						
						    	<xsd:sequence> 
						
						    		<xsd:element name="Surname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					This property contains the person's last name.
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>	
						
						    		<xsd:element name="SurnameAtBirth" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    			<xsd:annotation>
						
						    			    <xsd:documentation>
						
						    					This property contains the person's last name at the time of his/her birth.
						
						    			
						
						    			    </xsd:documentation>
						
						    			</xsd:annotation>
						
						    		</xsd:element>	
						
						    		<xsd:element name="Forename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    			
						
						    			    	<xsd:annotation>
						
						    			
						
						    			    	    <xsd:documentation>
						
						    			
						
						    			    			This property contains the person's first name or given name.
						
						    			
						
						    			    	    </xsd:documentation>
						
						    			
						
						    			    	</xsd:annotation>
						
						    			
						
						    			    </xsd:element>	
						
						    			
						
						    			    <xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="0" maxOccurs="1" >
						
						    			
						
						    			    	<xsd:annotation>
						
						    			
						
						    			    	    <xsd:documentation>
						
						    			
						
						    			    			This property contains the person's date of birth.
						
						    			
						
						    			    	
						
						    			
						
						    			    	    </xsd:documentation>
						
						    			
						
						    			    	</xsd:annotation>
						
						    			
						
						    			    </xsd:element>
						
						    			
						
						    			    <xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="CountryOfBirth" type="pdc:CountryType" minOccurs="0" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="DateOfDeath" type="udt:DateType" minOccurs="0" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    			This property contains the person's date of death (if applicable).
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="PlaceOfDeath" type="pdc:PlaceType" minOccurs="0" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="CountryOfDeath" type="pdc:CountryType" minOccurs="0" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="Sex" type="cls:SexType" minOccurs="0" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    			This property contains the sex of the person
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="Nationality" type="pdc:NationalityType" minOccurs="0" maxOccurs="unbounded"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="SurnameBefore" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    			This property contains the past surname of the person (if applicable)
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    </xsd:element>	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="SurnameAfter" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    			This property contains the future surname of the person (if applicable)
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    </xsd:element>	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="PreviousSurname" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    			This property contains the previous surname of the person (if applicable)
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    </xsd:element>	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    <xsd:element name="PreviousForename" type="udt:TextType" minOccurs="0" maxOccurs="unbounded">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			This property contains the previous forename (first name) of the person (if applicable). 
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="Age" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="Profession" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="Father" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="Mother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="AdoptiveParent" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="OtherNames" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="AcademicQualificationsOrProfessionalTitles" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="AcademicTitlePrefix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="AcademicTitleSuffix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="SecondaryResidence" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="SecondaryResidenceAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="IsLiving" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="PersonalInfoDisclosureForbidden" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="NameNormallyUsed" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="PersonalIdentificationNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="MotherTongue" type="udt:TextType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="CountryOfResidence" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="MainResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="TemporaryAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:element name="PostalAddress" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
						
						    	</xsd:sequence>
						
						    	
						
						    </xsd:complexType>
						
						    
						
						    
						
						    
						
						    
	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:complexType name="RegisteredPartnershipType">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation xml:lang = "en">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		This class contains elements related to a registered partnership.
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:complexContent>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		<xsd:restriction base="forms:RegisteredPartnershipType">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			<xsd:sequence>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="PartnerA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="PartnerB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="DateOfRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    							This property contains the date the registered partnership is concluded.
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="PlaceOfRegisteredPartnership" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="DateOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    							
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="DateOfEntryIntoEffectOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    							
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="DateOfPartnershipDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    							
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="ReasonForDissolution" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipDissolutionChoiceType">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				<xsd:element name="DateOfEntryIntoEffectOfDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    							
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			</xsd:sequence>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		</xsd:restriction>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:complexContent>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:complexType>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:complexType name="RegisteredPartnershipDissolutionChoiceType">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    <xsd:documentation xml:lang = "en">
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		This class contains elements related to the choice of marital status.
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    				Stereotype xsdChoice
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	<xsd:choice>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		<xsd:element name="RegisteredPartnershipDissolvedByDeath" type="formFrance:RegisteredPartnershipDissolvedByDeathType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		<xsd:element name="RegisteredPartnershipDissolvedByMarriage" type="formFrance:RegisteredPartnershipDissolvedByMarriageType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		<xsd:element name="RegisteredPartnershipDissolvedByRequest" type="formFrance:RegisteredPartnershipDissolvedByRequestType" minOccurs="1" maxOccurs="1" >
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			<xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			    <xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    					
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			    </xsd:documentation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    			</xsd:annotation>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		</xsd:element>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    		
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    	</xsd:choice>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    </xsd:complexType>
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    
	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	
						
						    			
						
						    			    	
						
						    			
						
						    			    	    	    <xsd:complexType name="SingleType"/>
	</xsd:schema>
