generated/xsd/ms/formFrance-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formFrance-1.0.xsd
    Generated On: 29/11/2017 14:14 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/france#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/france#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the birth of a person.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_birthForm:BirthType">
				<xsd:sequence>
							<xsd:element name="KeyReferences" minOccurs="1" maxOccurs="1" type="KeyReferencesChoiceType">
							</xsd:element>
							
								<xsd:element name="DeclaredByOther" type="BirthDeclarerType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class BirthDeclarer.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
							<xsd:element name="DeclaredByParent" minOccurs="0" maxOccurs="1" type="DeclaredByParentChoiceType">
							</xsd:element>
							
								<xsd:element name="Person" type="BirthPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class BirthPerson.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BirthDeclarerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person declaring a birth. 
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="DateOfDecision" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains the date the decision mentioned in the form was taken. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfAuthorisation" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains the date when an authorisation was given. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NatureOfDecision" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains the nature of the decision mentioned in the form.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="AuthorisationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person being born.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:BirthPersonType">
				<xsd:sequence>
										<xsd:element name="BirthTime" type="udt:TimeType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the time of birth of the person concerned by the form.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's capacity to marry.
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_capacityToMarryForm:CapacityToMarryType">
				<xsd:sequence>
										<xsd:element name="MarriagePublished" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the boolean value of whether there is a marriage published concerning the person concerned by the form. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="AdditionalInformation" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning additional information about a person's capacity to marry. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConsentNeededChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of whether consent is needed.
					Stereotype commonPart
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
								<xsd:element name="ConsentNeeded" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class ConsentNeeded.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NoConsentNeeded" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This class relates to the class NoConsentNeeded.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the death of a person.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="Person" type="DeathPersonType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class DeathPerson.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="Declarer" type="DeathDeclarerType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class DeathDeclarer.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathDeclarerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the person declaring a death. 
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
											<xsd:element name="Person" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="RelationshipToDeceased" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This class contains information about the relationship to the deceased of the person declaring the death. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfDecision" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains the date the decision mentioned in the form was taken. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfAuthorisation" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains the date when an authorisation was given. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NatureOfDecision" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains the nature of the decision mentioned in the form.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="AuthorisationAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a deceased person.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:DeathPersonType">
				<xsd:sequence>
							<xsd:element name="FormerSpouseOrPartner" minOccurs="1" maxOccurs="1" type="FormerSpouseOrPartnerChoiceType">
							</xsd:element>
							
										<xsd:element name="TimeOfDeath" type="udt:TimeType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the time of death of the person concerned by the form. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeclaredByParentChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of which parent declared the birth of the person concerned by the form.
					Stereotype birthForm
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
								<xsd:element name="DeclaredByFather" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a birth has been declared by the child's father.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DeclaredByMother" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a birth has been declared by the child's mother.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DeclaredByFatherAndMother" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a birth has been declared by the child's mother and father.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DivorceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a divorce.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="DivorcePerson" type="PersonType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class Person.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
								<xsd:element name="DivorceDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date a divorce took place.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NatureOfDivorceDecision" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the nature of a divorce decision.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="DivorceAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to information about a document.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_commonPart:DocumentInfoType">
				<xsd:sequence>
													<xsd:element name="CertificateOfficial" type="pdc:OfficialType" minOccurs="1" maxOccurs="1"  />
													
										<xsd:element name="OtherMentions" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains other mentions. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="IssueTime" type="udt:TimeType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the time of issue of the form.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
													<xsd:element name="DecisionAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
													
										<xsd:element name="PublicDocumentVerificationWebsite" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the URL of the public document verification website.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FormAbsenceOfCriminalRecordFrance" type="FormAbsenceOfCriminalRecordFranceType"/>
	<xsd:complexType name="FormAbsenceOfCriminalRecordFranceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the form Absence of Criminal Record.
					Stereotype absenceOfCriminalRecordForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
									<xsd:element name="Body" type="ms2forms_absenceOfCriminalRecordForm:AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"  />
									
										<xsd:element name="Footer" type="SignatureInfoType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class SignatureInfo.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormBirthFrance" type="FormBirthFranceType"/>
	<xsd:complexType name="FormBirthFranceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a birth form.
					Stereotype birthForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class Birth.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
										<xsd:element name="Footer" type="SignatureInfoType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class SignatureInfo.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormCapacityToMarryFrance" type="FormCapacityToMarryFranceType"/>
	<xsd:complexType name="FormCapacityToMarryFranceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a capacity to marry form.
					Stereotype xsdGlobalElement
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class CapacityToMarry.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
										<xsd:element name="Footer" type="SignatureInfoType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class SignatureInfo.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormDeathFrance" type="FormDeathFranceType"/>
	<xsd:complexType name="FormDeathFranceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a death form.
					Stereotype deathForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Death.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
										<xsd:element name="Footer" type="SignatureInfoType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class SignatureInfo.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormHeaderType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a form header. 
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class DocumentInfo. 
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormLifeFrance" type="FormLifeFranceType"/>
	<xsd:complexType name="FormLifeFranceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a death form.
					Stereotype lifeForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="LifeType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Life.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
										<xsd:element name="Footer" type="SignatureInfoType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class SignatureInfo.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormMarriageFrance" type="FormMarriageFranceType"/>
	<xsd:complexType name="FormMarriageFranceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage form.
					Stereotype marriageForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Marriage.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
										<xsd:element name="Footer" type="SignatureInfoType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class SignatureInfo.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormRegisteredPartnershipFrance" type="FormRegisteredPartnershipFranceType"/>
	<xsd:complexType name="FormRegisteredPartnershipFranceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage form.
					Stereotype registeredPartnershipForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="RegisteredPartnershipType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class RegisteredPartnership.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
										<xsd:element name="Footer" type="SignatureInfoType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is that of class SignatureInfo.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the former spouse or partner of the person concerned by the form. 
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
											<xsd:element name="FormerSpouseOrPartner" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of whether the person concerned by the form has a former spouse or partner.
					Stereotype commonPart
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
						<xsd:element name="FormerSpouseOrPartner" type="FormerSpouseOrPartnerType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class FormerSpouseOrPartnerChoice.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
								<xsd:element name="NoFormerOrPartnerSpouse" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property relates to the class NoFormerSpouseOrPartner.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="KeyReferencesChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of marital status.
					Stereotype commonPart
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
									<xsd:element name="Marriage" type="ms2forms_marriageForm:MarriageType" minOccurs="1" maxOccurs="1"  />
									
						<xsd:element name="Divorce" type="DivorceType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Divorce.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="LegalSeparation" type="LegalSeparationType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class LegalSeparation.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="RegisteredPartnershipChange" type="RegisteredPartnershipChangeType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class RegisteredPartnershipChange.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="MarriageAnnulment" type="MarriageAnnulmentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class MarriageAnnulment.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="RegisteredPartnership" type="RegisteredPartnershipType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class RegisteredPartnership.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="LegalSeparationType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a legal speration.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
											<xsd:element name="SeparationPerson" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="SeparationDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This class contains information of type date concerning the date of a separation.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NatureOfSeparationDecision" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the nature of a separation decision.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="RulingCourt" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="LifeType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's life.
					Stereotype lifeForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_lifeForm:LifeType">
				<xsd:sequence>
										<xsd:element name="PersonAppearedBeforeAuthority" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the boolean value of whether the person concerned by the form appeared in front of an authority. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="PresentedID" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the boolean value of whether the person concerned by the form presented an ID.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_marriageForm:MarriageType">
				<xsd:sequence>
													<xsd:element name="FourthWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
													
													<xsd:element name="FirstWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
													
										<xsd:element name="DeclarationOfSpousalAndUnionPronouncement" type="udt:IndicatorType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the boolean value of whether a declaration of spousal and union pronouncement exists.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
													<xsd:element name="SecondWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
													
													<xsd:element name="ThirdWitness" type="pdc:PersonType" minOccurs="1" maxOccurs="1"  />
													
										<xsd:element name="MarriageContractDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the date of the marriage contract. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
													<xsd:element name="MarriageContractNotaryPlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
													
							<xsd:element name="KeyReferences" minOccurs="1" maxOccurs="1" type="KeyReferencesChoiceType">
							</xsd:element>
							
								<xsd:element name="SpouseA" type="MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class MarriageOrRegisteredPartnershipPerson. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="SpouseB" type="MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class MarriageOrRegisteredPartnershipPerson. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageAnnulmentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the annulment of a marriage. 
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="AnnulmentDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date a marriage was annulled.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="NatureOfAnnulmentDecision" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the nature of a marriage annulment decision.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="RulingCourt" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MarriageOrRegisteredPartnershipPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person getting married or entering into a registered partnership.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
							<xsd:element name="FormerSpouseOrPartner" minOccurs="1" maxOccurs="1" type="FormerSpouseOrPartnerChoiceType">
							</xsd:element>
							
							<xsd:element name="ConsentNeededForConcernedPerson" minOccurs="1" maxOccurs="1" type="ConsentNeededChoiceType">
							</xsd:element>
							
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a parent.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the surname of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the forename of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfBirth" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the date of birth of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="PlaceOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="Profession" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the profession of a person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="Domicile" type="pdc:AddressType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="ParentsType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the parents of a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class Parent.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class Parent.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="AdoptiveParent" type="ParentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is that of class Parent. 
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
								<xsd:element name="InformationOnParents" type="ParentsType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class Parents.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="Profession" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="Age" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a registered partnership.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_registeredPartnershipForm:RegisteredPartnershipType">
				<xsd:sequence>
										<xsd:element name="DateOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the date of modification of a registered partnership. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="DateOfEntryIntoEffectOfDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the date of entry into effect of the dissolution of the registered partnership. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
							<xsd:element name="ReasonForDissolution" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipDissolutionChoiceType">
							</xsd:element>
							
										<xsd:element name="DateOfEntryIntoEffectOfModification" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the date of entry into effect of the modification of the registered partnership. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="DateOfPartnershipDissolution" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains the date of dissolution of the registered partnership. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipChangeType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the modification of a registered partnership.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="RegisteredPartnershipChangeDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date of a change of a registered partnership.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="RegisteredPartnershipChangePlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
											<xsd:element name="RulingCourt" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
					<xsd:element name="RegisteredPartnershipChange" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipChangeChoiceType">
					</xsd:element>
					
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipChangeChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of types of change of registered partnership.
					Stereotype commonPart
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
								<xsd:element name="RegisteredPartnershipModification" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a registered partnership has been modified.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					<xsd:element name="RegisteredPartnershipDissolution" minOccurs="1" maxOccurs="1" type="RegisteredPartnershipDissolutionChoiceType">
					</xsd:element>
					
								<xsd:element name="RegisteredPartnershipAnnulment" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a registered partnership has been annulled.  
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipDissolutionChoiceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the choice of how the registered partnership of the person concerned by the form was dissolved.
					Stereotype commonPart
					Stereotype xsdChoice
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
								<xsd:element name="RegisteredPartnershipDissolvedByDeath" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a registered partnership has been dissolved due to the death of a partner.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="RegisteredPartnershipDissolvedByMarriage" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a registered partnership has been dissolved due to the marriage of the partners.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="RegisteredPartnershipDissolvedByRequest" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type boolean concerning whether a registered partnership has been dissolved due to the request of the partners.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SignatureInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to information about a signature.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_commonPart:SignatureInfoType">
				<xsd:sequence>
													<xsd:element name="SignaturePlace" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
													
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	</xsd:schema>
	
	<!-- ===== Copyright Notice ============================== -->
	<!--
		        Public Documents XML schema 1.0
		        Copyright (C) European Union, 2017
		        Licensed under the ISA Open Metadata Licence
		        Original authors:
		        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
		        Emidio Stani (emidio.stani@be.pwc.com),
		        Ioana Novacean (ioana.novacean@be.pwc.com),
		        Inge Gielis (inge.gielis@be.pwc.com),
				Arne De Proft (arne.de.proft@be.pwc.com)
	-->
	<!-- ===================================================== -->
