generated/xsd/ms/formAustria-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formAustria-1.0.xsd
    Generated On: 29/11/2017 14:14 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms"
			   schemaLocation="../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
	<xsd:complexType name="AbsenceOfACriminalRecordPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person.
					Stereotype absenceOfCriminalRecordForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
								<xsd:element name="AcademicDegrees" type="AcademicDegreesType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class AcademicDegrees.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AbsenceOfCriminalRecordType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the certificate of absence of criminal record of a person.
					Stereotype absenceOfCriminalRecordForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:AbsenceOfCriminalRecordPersonType">
				<xsd:sequence>
								<xsd:element name="Person" type="AbsenceOfACriminalRecordPersonType" minOccurs="1" maxOccurs="unbounded" >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class AbsenceOfACriminalRecordPerson.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>	
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcademicDegreesType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the academic degrees held by a person. 
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
										<xsd:element name="AcademicTitlePrefix" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the prefix of a person's academic title.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="AcademicTitleSuffix" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the suffix of a person's academic title.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BirthType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the birth of a person.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="Person" type="BirthPersonType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class BirthPerson.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="BirthPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person being born.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
								<xsd:element name="DataOnParents" type="ParentsType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Parents.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the capacity to marry of a couple.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_capacityToMarryForm:CapacityToMarryType">
				<xsd:sequence>
								<xsd:element name="Person" type="CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class CapacityToMarryOrEnterRegisteredPartnershipPerson
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="IntendedSpouse" type="CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class CapacityToMarryOrEnterRegisteredPartnershipPerson
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
													<xsd:element name="CanMarry" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"  />
													
								<xsd:element name="LastMarriage" type="LastMarriageType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class LastMarriage.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="LastRegisteredPartnership" type="LastRegisteredPartnershipType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class LastRegisteredPartnership.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CapacityToMarryOrEnterRegisteredPartnershipPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the capacity to marry or enter into a registered partnership of a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
										<xsd:element name="RegistrationOfBirth" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the registration of a person's birth.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeathType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the death of a person.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="Person" type="DeathPersonType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class DeathPerson.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
								<xsd:element name="CourtDateNumberDeathDeclaration" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the court, date and number of a declaration of death.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DeathPersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a deceased person.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
													<xsd:element name="LastPlaceOfResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"  />
													
											<xsd:element name="LastMariageOrRegisteredPartnership" type="ms2forms_maritalStatusForm:MaritalStatusType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="CivilStatusDataSurvivor" type="FormerSpouseOrPartnerType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class FormerSpouseOrPartnerChoice.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DissolvedType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains information about the last marriage or registered partnership of the person concerned by the form.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
											<xsd:element name="DissolvedBy" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
								<xsd:element name="DissolvedOn" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date on which a marriage or registered partnership was dissolved.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="DissolvedIn" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="DocumentInfoType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to information about a document.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_commonPart:DocumentInfoType">
				<xsd:sequence>
										<xsd:element name="PointInTime" type="udt:TimeType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type time concerning the time of issue of a document.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomicileAndOrResidenceType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties to the domicile and/or residence of a person.
					Stereotype domicileAndOrResidenceForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_domicileAndOrResidenceForm:DomicileAndOrResidenceType">
				<xsd:sequence>
													<xsd:element name="SecondaryResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="unbounded" />
													
										<xsd:element name="RegisteredSince" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of date type.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DomicileAndOrResidencePersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person.
					Stereotype domicileAndOrResidenceForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
								<xsd:element name="AcademicDegrees" type="AcademicDegreesType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class AcademicDegrees.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="TravelDocument" type="TravelDocumentType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class TravelDocument.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FormAbsenceOfCriminalRecordAustria" type="FormAbsenceOfCriminalRecordAustriaType"/>
	<xsd:complexType name="FormAbsenceOfCriminalRecordAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form Absence of a Criminal Record.
					Stereotype absenceOfCriminalRecordForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class AbsenceOfCriminalRecord.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormBirthAustria" type="FormBirthAustriaType"/>
	<xsd:complexType name="FormBirthAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a birth form.
					Stereotype birthForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Birth.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormCapacityToEnterRegisteredPartnerShipAustria" type="FormCapacityToEnterRegisteredPartnerShipAustriaType"/>
	<xsd:complexType name="FormCapacityToEnterRegisteredPartnerShipAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form CapacityToEnterRegisteredPartnership.
					Stereotype capacityToEnterRegisteredPartnershipForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class CapacityToEnterRegisteredPartnership.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormCapacityToMarryAustria" type="FormCapacityToMarryAustriaType"/>
	<xsd:complexType name="FormCapacityToMarryAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			
					Stereotype xsdGlobalElement
					Stereotype capacityToMarryForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class CapacityToMarry.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormDeathAustria" type="FormDeathAustriaType"/>
	<xsd:complexType name="FormDeathAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a death form.
					Stereotype deathForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader. 
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Death.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormDomicileAndOrResidenceAustria" type="FormDomicileAndOrResidenceAustriaType"/>
	<xsd:complexType name="FormDomicileAndOrResidenceAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form DomicileAndOrResidence.
					Stereotype xsdGlobalElement
					Stereotype domicileAndOrResidenceForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
									<xsd:element name="Body" type="ms2forms_domicileAndOrResidenceForm:DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1"  />
									
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormHeaderType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the header of a form.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_commonPart:FormHeaderType">
				<xsd:sequence>
													<xsd:element name="CourtOfIssue" type="pdc:AuthorityType" minOccurs="0" maxOccurs="1"  />
													
								<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is that of class DocumentInfo.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FormMaritalStatusAustria" type="FormMaritalStatusAustriaType"/>
	<xsd:complexType name="FormMaritalStatusAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form MaritalStatus.
					Stereotype maritalStatusForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
									<xsd:element name="Body" type="ms2forms_maritalStatusForm:MaritalStatusType" minOccurs="1" maxOccurs="1"  />
									
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this propery is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormMarriageAustria" type="FormMarriageAustriaType"/>
	<xsd:complexType name="FormMarriageAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a marriage form.
					Stereotype marriageForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Marriage.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormRegisteredPartnerShipStatusAustria" type="FormRegisteredPartnerShipStatusAustriaType"/>
	<xsd:complexType name="FormRegisteredPartnerShipStatusAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form RegisteredPartnershipStatus.
					Stereotype xsdGlobalElement
					Stereotype registeredPartnershipStatusForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="RegisteredPartnershipStatusType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class RegisteredPartnershipStatus.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:element name="FormRegisteredPartnershipAustria" type="FormRegisteredPartnershipAustriaType"/>
	<xsd:complexType name="FormRegisteredPartnershipAustriaType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the form RegisteredPartnership.
					Stereotype registeredPartnershipForm
					Stereotype xsdGlobalElement
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
										<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													The value of this property is of the class FormHeader.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
						<xsd:element name="Body" type="RegisteredPartnershipType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class RegisteredPartnership.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
									<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
									
								<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of any type.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="FormerSpouseOrPartnerType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the surviving partner of a marriage or registered partnership.
					Stereotype deathForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
										<xsd:element name="FormerSpouseOrPartner" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the forename or fornames of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LastMarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the last known marriage of a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="To" type="PersonType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Person.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="Dissolved" type="DissolvedType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Dissolved.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="LastRegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the last known registered partnership of a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="With" type="PersonType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Person. 
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="Dissolved" type="DissolvedType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Dissolved.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="MaritalStatusType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to the marital status of a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:MaritalStatusChoiceType">
				<xsd:sequence>
								<xsd:element name="Person" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Person
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MarriageType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to a marriage.
					Stereotype marriageForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_marriageForm:MarriageType">
				<xsd:sequence>
								<xsd:element name="SpouseA" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="SpouseB" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's parent.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PersonType">
				<xsd:sequence>
										<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the surname or surnames of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="Forename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning the forename or fornames of a parent.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParentsType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to a person's parents.
					Stereotype birthForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
						<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Parent.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
						<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1"  >
							<xsd:annotation>
							    <xsd:documentation xml:lang="en">
									The value of this property is of the class Parent.
							    </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						
			
		</xsd:sequence>
		
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to information about a person.
					Stereotype commonPart
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="pdc:PersonType">
				<xsd:sequence>
										<xsd:element name="OtherNames" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning other names of a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
										<xsd:element name="AcademicDegreesOrProfessionalTitles" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type string concerning academic degrees or professional titles held by a person.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to a registered partnership.
					Stereotype registeredPartnershipForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_registeredPartnershipForm:RegisteredPartnershipType">
				<xsd:sequence>
								<xsd:element name="PartnerA" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="PartnerB" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
										<xsd:element name="DateOfRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
											<xsd:annotation>
											    <xsd:documentation xml:lang="en">
													This property contains information of type date concerning the date on which a registered partnership started.
											    </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										
													<xsd:element name="PlaceOfRegisteredPartnership" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
													
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegisteredPartnershipStatusType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains elements related to the registered partnership status of a person.
					Stereotype registeredPartnershipStatusForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ms2forms_registeredPartnershipStatusForm:RegisteredPartnershipStatusType">
				<xsd:sequence>
								<xsd:element name="Person" type="PersonType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											The value of this property is of the class Person.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
					
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TravelDocumentType">
		<xsd:annotation>
		    <xsd:documentation xml:lang="en">
			This class contains properties related to information about the travel document of a non-Austrian person residing in Austria.
					Stereotype domicileAndOrResidenceForm
		    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence> 
								<xsd:element name="Document" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the type of a travel document. 
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DocumentNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type string concerning the number of a document.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="DateOfIssue" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date of issue of a document.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
								<xsd:element name="ExpiryDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
									<xsd:annotation>
									    <xsd:documentation xml:lang="en">
											This property contains information of type date concerning the date of expiry of a document.
									    </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								
											<xsd:element name="IssuingAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"  />
											
											<xsd:element name="IssuingState" type="pdc:CountryType" minOccurs="1" maxOccurs="1"  />
											
			
		</xsd:sequence>
		
	</xsd:complexType>
	</xsd:schema>
	
	<!-- ===== Copyright Notice ============================== -->
	<!--
		        Public Documents XML schema 1.0
		        Copyright (C) European Union, 2017
		        Licensed under the ISA Open Metadata Licence
		        Original authors:
		        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
		        Emidio Stani (emidio.stani@be.pwc.com),
		        Ioana Novacean (ioana.novacean@be.pwc.com),
		        Inge Gielis (inge.gielis@be.pwc.com),
				Arne De Proft (arne.de.proft@be.pwc.com)
	-->
	<!-- ===================================================== -->
