generated/xsd/ms/formDenmark/deathForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formDenmark-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/denmark#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/denmark#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:ms2forms_deathForm="http://data.europa.eu/edm/1/ns/forms/death#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/death#"
			   schemaLocation="../../../xsd/common/core/forms/deathForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="DeathType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the death of a person.
				Stereotype deathForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_deathForm:DeathType">
			<xsd:sequence>
									<xsd:element name="MiddleName" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												The value of this property is of string type.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
												<xsd:element name="PlaceRegistrationOfDeath" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
												
												<xsd:element name="PlaceOfBurial" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
												
												<xsd:element name="PlaceRegistrationOfBirth" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
												
									<xsd:element name="PersonalIdentificatioNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												The value of this property is of string type.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="SpousesFullName" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												The value of this property is of string type.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
							<xsd:element name="SpousesIDnrOrBirth" type="IdOrDateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class IdOrDate.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="IdOrDateType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a person's ID or date of death.
				Stereotype deathForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="SpousesPersonalD" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="SpousesBirth" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of date type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:element name="FormDeathDenmark" type="FormDeathDenmarkType"/>
<xsd:complexType name="FormDeathDenmarkType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a death form.
				Stereotype deathForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
						
					<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"  >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Death.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
								<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
								
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of any type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

