generated/xsd/ms/formCyprus/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formCyprus-1.0.xsd
    Generated On: 06/11/2017 17:41 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/cyprus#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/cyprus#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="FormHeaderType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the form header of a form.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_commonPart:FormHeaderType">
			<xsd:sequence>
												<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
									
			<xsd:element name="AuthorityIssuingForm" minOccurs="1" maxOccurs="1" type="AuthorityChoiceType">
			</xsd:element>
			
			<xsd:element name="AuthorityIssuingDocument" minOccurs="1" maxOccurs="1" type="AuthorityChoiceType">
			</xsd:element>
			
				
				<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of the class DocumentInfo. 
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
										
											<xsd:element name="SignatureInfo" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"/>
											
									<xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												The value of this property is of string type. 
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
													<xsd:element name="ImportantNotice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
															<xsd:annotation>
															    <xsd:documentation xml:lang="en">
																	The value of this property is of string type. 
															    </xsd:documentation>
															</xsd:annotation>
														</xsd:element>
																		<xsd:element name="NoteForTheIssuingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																				<xsd:annotation>
																				    <xsd:documentation xml:lang="en">
																						This property contains a note for the issuing authority regarding which information is to be mentioned. 
																				    </xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AdministrativeDocumentChoiceType">
																					<xsd:annotation>
																					    <xsd:documentation xml:lang="en">
																						This class contains elements related to the choice between the different types of administrative documents. 
																								Stereotype xsdChoice
																								Stereotype commonPart
																					    </xsd:documentation>
																					</xsd:annotation>
																					<xsd:choice>
																										<xsd:element name="BirthCertificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																										<xsd:annotation>
																										    <xsd:documentation xml:lang="en">
																												The value of this property is of boolean type.
																										    </xsd:documentation>
																										</xsd:annotation>
																									</xsd:element>
																													<xsd:element name="DeathCertificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																															<xsd:annotation>
																															    <xsd:documentation xml:lang="en">
																																	The value of this property is of boolean type.
																															    </xsd:documentation>
																															</xsd:annotation>
																														</xsd:element>
																																		<xsd:element name="MarriageCertificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																				<xsd:annotation>
																																				    <xsd:documentation xml:lang="en">
																																						The value of this property is of boolean type.
																																				    </xsd:documentation>
																																				</xsd:annotation>
																																			</xsd:element>
																																							<xsd:element name="CapacityToMarryCertificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																									<xsd:annotation>
																																									    <xsd:documentation xml:lang="en">
																																											The value of this property is of boolean type.
																																									    </xsd:documentation>
																																									</xsd:annotation>
																																								</xsd:element>
																																												<xsd:element name="CivilPartnershipCertificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																														<xsd:annotation>
																																														    <xsd:documentation xml:lang="en">
																																																The value of this property is of boolean type.
																																														    </xsd:documentation>
																																														</xsd:annotation>
																																													</xsd:element>
																																																	<xsd:element name="PermanentResidenceCertificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																																			<xsd:annotation>
																																																			    <xsd:documentation xml:lang="en">
																																																					The value of this property is of boolean type.
																																																			    </xsd:documentation>
																																																			</xsd:annotation>
																																																		</xsd:element>
																																																						<xsd:element name="CertificateOfAbsenceOfCriminalRecord" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																																								<xsd:annotation>
																																																								    <xsd:documentation xml:lang="en">
																																																										The value of this property is of boolean type.
																																																								    </xsd:documentation>
																																																								</xsd:annotation>
																																																							</xsd:element>
																																																							
																					</xsd:choice>
																				</xsd:complexType>
<xsd:complexType name="DocumentInfoType">
																																																									<xsd:annotation>
																																																									    <xsd:documentation xml:lang="en">
																																																										This class contains elements related to information about a document. 
																																																												Stereotype commonPart
																																																									    </xsd:documentation>
																																																									</xsd:annotation>
																																																									<xsd:sequence> 
																																																												<xsd:element name="Kind" minOccurs="1" maxOccurs="1" type="DocumentKindChoiceType">
																																																											</xsd:element>
																																																											
																																																													<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
																																																														<xsd:annotation>
																																																														    <xsd:documentation xml:lang="en">
																																																																The value of this property is of date type. 
																																																														    </xsd:documentation>
																																																														</xsd:annotation>
																																																													</xsd:element>
																																																																	<xsd:element name="ReferenceNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																																																			<xsd:annotation>
																																																																			    <xsd:documentation xml:lang="en">
																																																																					The value of this property is of string type. 
																																																																			    </xsd:documentation>
																																																																			</xsd:annotation>
																																																																		</xsd:element>
																																																																		
																																																									</xsd:sequence>
																																																									
																																																								</xsd:complexType>
<xsd:complexType name="AuthorityChoiceType">
																																																																				<xsd:annotation>
																																																																				    <xsd:documentation xml:lang="en">
																																																																					This class contains elements related to the choice between types of authority in Cyprus. 
																																																																							Stereotype xsdChoice
																																																																							Stereotype commonPart
																																																																				    </xsd:documentation>
																																																																				</xsd:annotation>
																																																																				<xsd:choice>
																																																																									<xsd:element name="DistrictAdministrations" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																																																									<xsd:annotation>
																																																																									    <xsd:documentation xml:lang="en">
																																																																											The value of this property is of string type. 
																																																																									    </xsd:documentation>
																																																																									</xsd:annotation>
																																																																								</xsd:element>
																																																																												<xsd:element name="TownHalls" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																																																														<xsd:annotation>
																																																																														    <xsd:documentation xml:lang="en">
																																																																																The value of this property is of string type. 
																																																																														    </xsd:documentation>
																																																																														</xsd:annotation>
																																																																													</xsd:element>
																																																																																	<xsd:element name="CivilRegistryAndMigrationDept" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																																																																			<xsd:annotation>
																																																																																			    <xsd:documentation xml:lang="en">
																																																																																					The value of this property is of string type. 
																																																																																			    </xsd:documentation>
																																																																																			</xsd:annotation>
																																																																																		</xsd:element>
																																																																																						<xsd:element name="CriminalRecordOffice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																																																																								<xsd:annotation>
																																																																																								    <xsd:documentation xml:lang="en">
																																																																																										The value of this property is of string type. 
																																																																																								    </xsd:documentation>
																																																																																								</xsd:annotation>
																																																																																							</xsd:element>
																																																																																											<xsd:element name="DistrictPoliceDirectorate" type="udt:TextType" minOccurs="1" maxOccurs="1" >
																																																																																													<xsd:annotation>
																																																																																													    <xsd:documentation xml:lang="en">
																																																																																															The value of this property is of string type. 
																																																																																													    </xsd:documentation>
																																																																																													</xsd:annotation>
																																																																																												</xsd:element>
																																																																																												
																																																																				</xsd:choice>
																																																																			</xsd:complexType>
<xsd:complexType name="DocumentKindChoiceType">
																																																																																														<xsd:annotation>
																																																																																														    <xsd:documentation xml:lang="en">
																																																																																															This class contains elements related to the choice between different types of documents.
																																																																																																	Stereotype xsdChoice
																																																																																																	Stereotype commonPart
																																																																																														    </xsd:documentation>
																																																																																														</xsd:annotation>
																																																																																														<xsd:choice>
																																																																																																			<xsd:element name="DocumentFromCourtOrTribunal" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																																																																																			<xsd:annotation>
																																																																																																			    <xsd:documentation xml:lang="en">
																																																																																																					The value of this property is of boolean type. 
																																																																																																			    </xsd:documentation>
																																																																																																			</xsd:annotation>
																																																																																																		</xsd:element>
																																																																																																				<xsd:element name="AdministrativeDocument" minOccurs="1" maxOccurs="1" type="AdministrativeDocumentChoiceType">
																																																																																																					</xsd:element>
																																																																																																					
																																																																																																							<xsd:element name="NotarialAct" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																																																																																								<xsd:annotation>
																																																																																																								    <xsd:documentation xml:lang="en">
																																																																																																										The value of this property is of boolean type. 
																																																																																																								    </xsd:documentation>
																																																																																																								</xsd:annotation>
																																																																																																							</xsd:element>
																																																																																																											<xsd:element name="OfficialCertificateOnDocumentSignedByPerson" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																																																																																													<xsd:annotation>
																																																																																																													    <xsd:documentation xml:lang="en">
																																																																																																															The value of this property is of boolean type. 
																																																																																																													    </xsd:documentation>
																																																																																																													</xsd:annotation>
																																																																																																												</xsd:element>
																																																																																																																<xsd:element name="DocumentDrawnUpByDiplomaticOrConsularAgent" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
																																																																																																																		<xsd:annotation>
																																																																																																																		    <xsd:documentation xml:lang="en">
																																																																																																																				The value of this property is of boolean type. 
																																																																																																																		    </xsd:documentation>
																																																																																																																		</xsd:annotation>
																																																																																																																	</xsd:element>
																																																																																																																	
																																																																																														</xsd:choice>
																																																																																													</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->



