generated/xsd/ms/formPoland/domicileAndOrResidenceForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formPoland-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/poland#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/poland#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:ms2forms_domicileAndOrResidenceForm="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmdomicileandorresidence#"
			   schemaLocation="../../../xsd/common/core/forms/domicileAndOrResidenceForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="ResidenceChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the permanent or temporary character of a residence.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="Permanent" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type Boolean concerning whether a residence is permanent.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="TemporaryUntil" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type date concerning the date until which a person resides in a given residence.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="AddressDetailsType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to details about an address.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
										<xsd:element name="Municipality" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
										
										<xsd:element name="Province" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
										
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:element name="FormDomicileAndOrResidencePoland" type="FormDomicileAndOrResidencePolandType"/>
<xsd:complexType name="FormDomicileAndOrResidencePolandType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a domicile and/or reference form.
				Stereotype domicileAndOrResidenceForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
						
					<xsd:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1"  >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class DomicileAndOrResidence.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
								<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
								
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property can contain any type of information.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="DomicileAndOrResidenceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a person’s domicile and/or residence.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_domicileAndOrResidenceForm:DomicileAndOrResidenceType">
			<xsd:sequence>
							<xsd:element name="Validity" type="ValidityChoiceType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class ValidityChoice.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="TypeOfResidence" type="ResidenceChoiceType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class ResidenceChoice.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="OtherDetailsOfAddress" type="AddressDetailsType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class AddressDetails.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ValidityChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to whether a domicile and/or residence certificate is valid until a certain date or until a registered residence change.
				Stereotype domicileAndOrResidenceForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="UntiRegisteredResidenceChange" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" default ="true" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type Boolean concerning whether a certificate is valid until a registered residence change. 
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="NoLaterThan" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type date concerning the date of validity of a certificate.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

