generated/xsd/ms/formPoland/lifeForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formPoland-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/poland#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/poland#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:ms2forms_lifeForm="http://data.europa.eu/edm/1/ns/forms/frmlife#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmlife#"
			   schemaLocation="../../../xsd/common/core/forms/lifeForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:element name="FormLifePoland" type="FormLifePolandType"/>
<xsd:complexType name="FormLifePolandType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a life form.
				Stereotype lifeForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"  />
						
					<xsd:element name="Body" type="LifeType" minOccurs="1" maxOccurs="1"  >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Life.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
								<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
								
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property can contain any type of information.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="LifeType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the life of a person.
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_lifeForm:LifeType">
			<xsd:sequence>
									<xsd:element name="FatherForename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the forename of a person's father.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="MotherForename" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the forename of a person's mother.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

