generated/xsd/ms/formPoland/lifeForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formPoland-1.0.xsd
    Generated On: 10/11/2017 16:07 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/poland#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/poland#"
	
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	
	xmlns:ms2forms_lifeForm="http://data.europa.eu/edm/1/ns/forms/frmlife#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmlife#"
			   schemaLocation="../../../xsd/common/core/forms/lifeForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="ParentsType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					
					<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Parent.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					
					<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Parent.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="ParentType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
									<xsd:element name="ParentSurname" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="ParentForename" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="PersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
							
							<xsd:element name="ParentsDetails" type="ParentsType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class Parents.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="MaritalStatus" type="pdc:MaritalStatusChoiceType" minOccurs="1" maxOccurs="1"/>
							
							
							<xsd:element name="SpouseOrPartner" type="SpouseOrPartnerType" minOccurs="0" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class SpouseOrPartner.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SpouseOrPartnerType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="PersonType">
			<xsd:sequence>
									<xsd:element name="SpouseForename" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="SpouseSurname" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="SpouseSurnameAtBirth" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FormLifePolandType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
					
					<xsd:element name="Life" type="LifeType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Life.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property can contain any type of information.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="LifeType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype lifeForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_lifeForm:LifeType">
			<xsd:sequence>
							
							<xsd:element name="LifePerson" type="PersonType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class Person.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->



