generated/xsd/ms/formLatvia/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formLatvia-1.0.xsd
    Generated On: 21/11/2017 13:22 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/latvia#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/latvia#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="FormHeaderType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a form header.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class DocumentInfo.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
										<xsd:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
										
										<xsd:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
										
										<xsd:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
										
					<xsd:element name="SignatureInfo" type="SignatureInfoType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is that of class SignatureInfo.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="PersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a person.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
									<xsd:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the identity number of a person.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="ForeignIdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the foreign identity number of a person.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
												<xsd:element name="CorrespondingForeignCountry" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
												
									<xsd:element name="EthnicGroup" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the ethnic group of a person.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
												<xsd:element name="CitizenshipCountry" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
												
							<xsd:element name="InfoOnPersonalID" type="IDInfoType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class IDInfo.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AdministrativeDocumentChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the possible kinds of administrative documents a form can refer to.
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
					<xsd:element name="DocumentAttestingToInformation" type="DocumentAttestingToInformationType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is that of class DocumentAttestingToInformation.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="CurrentJudicialRecordDatabaseOrArchive" type="CurrentJudicialRecordType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is that of class CurrentJudicialRecord.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
							<xsd:element name="ExtractFromCurrentJudicialDatabase" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a document is an extract from the current judicial database.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="ExtractFromJudicialArchives" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a document is an extract from judicial archives.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="CurrentJudicialRecordType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a current judicial record.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="PeriodForEachExtract" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type string containing the time period for each extract the document covers.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="DocumentAttestingToInformationType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a document attesting to information.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="DeathCertificate" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a document is a death certificate.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type string containing a document number.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentIssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type date concerning the issue date of a document.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
										<xsd:element name="IssuingAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
										
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="DocumentInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a document.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="RegisterInfo" type="RegisterInfoType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class RegisterInfo.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
							<xsd:element name="IssueTime" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type time concerning the hour of issue of a document.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				<xsd:element name="Kind" minOccurs="1" maxOccurs="1" type="DocumentKindChoiceType">
				</xsd:element>
				
							<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type date concerning the date of issue of a document.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="ReferenceNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type string concerning the reference number of a document.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Title" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="ImportantNotice" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="NoteForTheIssuingAuthority" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="RegisterInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to information about a register.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
										<xsd:element name="RegisteringAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
										
							<xsd:element name="RegistrationDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type date concerning the registration date of a document.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="RegistryEntryNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type string concerning the registry entry number of a document.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="DocumentKindChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the choice between different types of documents.
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
				<xsd:element name="AdministrativeDocument" minOccurs="1" maxOccurs="1" type="AdministrativeDocumentChoiceType">
				</xsd:element>
				
					<xsd:element name="DocumentFromCourtOrTribunal" type="ms2forms_commonPart:DocumentFromCourtOrTribunalChoiceType" minOccurs="1" maxOccurs="1"/>
					
							<xsd:element name="NotarialAct" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a document is a notarial act.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="OfficialCertificateOnDocumentSignedByPerson" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a document is an official certificate on a document signed by a person.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentDrawnUpByDiplomaticOrConsularAgent" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a document has been drawn up by a diplomatic or consular agent.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="SignatureInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the signature on a document or form.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="ms2forms_commonPart:SignatureInfoType">
			<xsd:sequence>
									<xsd:element name="FormIssueTime" type="udt:TimeType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type time concerning the hour a form was issued.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="IDTypeChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the choice between different kinds of ID a person can have.
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
							<xsd:element name="Passport" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a person's ID is a passport.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="IdentityCard" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type boolean concerning whether a person's ID is an identity card.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type string concerning a person's ID that is neither a passport or an identity card.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="IDInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to information about a person's ID.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
				<xsd:element name="IDType" minOccurs="1" maxOccurs="1" type="IDTypeChoiceType">
				</xsd:element>
				
										<xsd:element name="IssuingAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
										
							<xsd:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type date about the issue date of an ID.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="DocumentNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type string concerning the document number of an ID.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

