generated/xsd/ms/formSpain/absenceOfCriminalRecordForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formSpain-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/spain#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/spain#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ms2forms_absenceOfCriminalRecordForm="http://data.europa.eu/edm/1/ns/forms/frmabsenceofcriminalrecord#"	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:ms2forms_shaclShape=""	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmabsenceofcriminalrecord#"
			   schemaLocation="../../../xsd/common/core/forms/absenceOfCriminalRecordForm-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace=""
			   schemaLocation=""/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:element name="FormAbsenceOfCriminalRecordSpain" type="FormAbsenceOfCriminalRecordSpainType"/>
<xsd:complexType name="FormAbsenceOfCriminalRecordSpainType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to an absence of criminal record form.
				Stereotype absenceOfCriminalRecordForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
									<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												The value of this property is of the class FormHeader.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
					<xsd:element name="Body" type="AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"  >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class AbsenceOfCriminalRecord.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property can contain any type of information.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
								<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
								
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="AbsenceOfCriminalRecordType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a certificate of absence of criminal record.
				Stereotype absenceOfCriminalRecordForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="pdc:AbsenceOfCriminalRecordPersonType">
			<xsd:sequence>
										<xsd:element name="PassportNumber" type="ms2forms_absenceOfCriminalRecordFormshaclShape:IDTypeAndNoChoiceType" minOccurs="1" maxOccurs="1"  />
										
												<xsd:element name="PlaceOfIssue" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
												
									<xsd:element name="Reason" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the reason for which a certificate of absence of criminal record has been issued.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="CardSecureVerificationCode" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the secure verification code of a document.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="URLForVerification" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the URL that can be accessed to verify the authenticity of a document.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

