generated/common/codelist/pdc-codelist-PersonConcerned-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://urn:ec:ejustice:publicdocuments/pdc"
	xmlns="http://urn:ec:ejustice:publicdocuments/pdc"
	xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents"	
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents"	
	xmlns:cec="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:forms="http://urn:ec:ejustice:publicdocuments/forms"	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="0.1">
	<xs:annotation>	
		<xs:documentation xml:lang="en">
	        Public Documents XML schema 0.1
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xs:documentation>
	</xs:annotation>
<!-- ===== Imports======================================== -->
<xs:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents"
		   schemaLocation="../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-AggregateComponents-1.1.xsd"/>
<xs:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
		   schemaLocation="../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-BasicComponents-1.1.xsd"/>
<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
		   schemaLocation="../external/Core_Vocabularies_XML_Schema_v1.1/xsd/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
<!-- ===================================================== -->
<xs:complexType name="PersonConcernedCodeListType">
  <xs:simpleContent>
    <xs:restriction base="invalid">
	 	<xs:enumeration value="НАИМЕНОВАНИЕ"/>
	 	<xs:enumeration value="DENOMINACIÓN"/>
	 	<xs:enumeration value="NÁZEV"/>
	 	<xs:enumeration value="BETEGNELSE"/>
	 	<xs:enumeration value="BEZEICHNUNG"/>
	 	<xs:enumeration value="NIMETUS"/>
	 	<xs:enumeration value="ΟΝΟΜΑΣΊΑ"/>
	 	<xs:enumeration value="DESIGNATION"/>
	 	<xs:enumeration value="DÉNOMINATION"/>
	 	<xs:enumeration value="INMNIÚ"/>
	 	<xs:enumeration value="NAZIV"/>
	 	<xs:enumeration value="DENOMINAZIONE"/>
	 	<xs:enumeration value="NOSAUKUMS"/>
	 	<xs:enumeration value="PAVADINIMAS"/>
	 	<xs:enumeration value="MEGNEVEZÉS"/>
	 	<xs:enumeration value="TITLU"/>
	 	<xs:enumeration value="BENAMING"/>
	 	<xs:enumeration value="NAZWA"/>
	 	<xs:enumeration value="DESIGNAÇÃO"/>
	 	<xs:enumeration value="DENUMIRE"/>
	 	<xs:enumeration value="NÁZOV"/>
	 	<xs:enumeration value="IME"/>
	 	<xs:enumeration value="NIMI"/>
	 	<xs:enumeration value="NAMN"/>
    </xs:restriction>
  </xs:simpleContent>
</xs:complexType>

<xs:complexType name="PersonConcernedType">
  <xs:complexContent>
    <xs:restriction base="PersonConcernedCodeListType">
      <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="0.1" />
    </xs:restriction>
  </xs:complexContent>
</xs:complexType>

</xs:schema>
