generated/xsd/ms/formIreland/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formIreland-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/ireland#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/ireland#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="RegistrarType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a registrar.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="RegisteredInRegistrarOffice" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="SuperintendentRegistrarArea" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
										<xsd:element name="County" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"  />
										
							<xsd:element name="RegistrationDate" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of date type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="RegistrationNumber" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="InformantType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to an informant.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="Name" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Surname" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Qualifications" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
										<xsd:element name="Address" type="pdc:AddressType" minOccurs="1" maxOccurs="1"  />
										
							<xsd:element name="SignedBy" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="CivilRegistrationActType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a civil registration act.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
							<xsd:element name="IssuedBy" type="udt:TextType" minOccurs="1" maxOccurs="1" default ="Issued in Pursuance of the Civil Registration Act 2004" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of string type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="Date" type="udt:DateType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of date type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

