generated/common/core/forms-0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ======================================================= -->
<!--  forms XML Schema File -->
<!-- 
    Schema agency: European Commission
    Schema version: 0.2
    Schema date: 
    Copyright  (C) - 2016 
-->
<!-- ====================================================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://urn:ec:ejustice:publicdocuments/forms"
		   xmlns="http://urn:ec:ejustice:publicdocuments/forms"
				   xmlns:pdc ="http://urn:ec:ejustice:publicdocuments/pdc"
				   xmlns:cvb ="http://www.w3.org/ns/corevocabulary/BasicComponents"
				   xmlns:cva ="http://www.w3.org/ns/corevocabulary/AggregateComponents"	
				   xmlns:udt ="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
>
<xs:annotation>	
	<xs:documentation xml:lang="en">
        Public Documents XML schema 0.2
        Copyright (C) European Union, 2017
        Licensed under the ISA Open Metadata Licence
        Original authors:
        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
        Emidio Stani (emidio.stani@be.pwc.com),
        Ioana Novacean (ioana.novacean@be.pwc.com)
	</xs:documentation>
	<xs:appinfo>
        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
            <rdf:Description rdf:about="http://data.europa.eu/xyz/0.2">
                <dc:title>Public Documents XML schema</dc:title>
                <dc:description>This schema defines terms for Public Document model based on the regulation ...</dc:description>
                <dc:publisher>E-Justice Portal</dc:publisher>
                <dc:creator>Suzanne Wigard (suzanne.wigard@ec.europa.eu)</dc:creator>
                <dc:creator>Emidio Stani (emidio.stani@be.pwc.com)</dc:creator>
                <dc:creator>Ioana Novacean (ioana.novacean@be.pwc.com)</dc:creator>
                <dc:rights>Copyright (C) European Union, 2017</dc:rights>
                <dc:license>https://joinup.ec.europa.eu/category/licence/isa-open-metadata-licence-v11</dc:license>
            </rdf:Description>
        </rdf:RDF>
	</xs:appinfo>
</xs:annotation>
	<!-- ===== Imports======================================== -->                                                                  
	<xs:import namespace="http://urn:ec:ejustice:publicdocuments/pdc"
	           schemaLocation="pdc-AggregatedComponents-0.2.xsd"/>
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
	           schemaLocation="../external/Core_Vocabularies_XML_Schema_v1.1/xsd/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ============================================================ -->
	
			
			<xs:complexType name="RegisteredPartnershipType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to a registered partnership.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="PartnerA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="PartnerB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
										<xs:element name="DateOfRegisteredPartnership" type="udt:DateType" minOccurs="1" maxOccurs="1" >
											<xs:annotation>
											    <xs:documentation>
													This property contains the date the registered partnership is concluded.
											    </xs:documentation>
											</xs:annotation>
										</xs:element>
								
						
								<xs:element name="PlaceOfRegisteredPartnership" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="CapacityToMarryType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the capacity to marry of a couple.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="IntendedSpouse" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="CanMarry" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
		
		
			
		<xs:element name = "frmDeath" type="frmDeathType"/>
			<xs:complexType name="frmDeathType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form Death. 
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmAbsenceOfCriminalRecord" type="frmAbsenceOfCriminalRecordType"/>
			<xs:complexType name="frmAbsenceOfCriminalRecordType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form AbsenceOfCriminalRecord.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="AbsenceOfCriminalRecordType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="MaritalStatusType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the marital status of a person.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"/>
						
						<xs:element name="MaritalStatus" minOccurs="1" maxOccurs="1">
						<xs:complexType>
							<xs:choice>
												<xs:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
													<xs:annotation>
													    <xs:documentation>
															This property contains the date of marriage.
													    </xs:documentation>
													</xs:annotation>
												</xs:element>
										
								
								<xs:element name="NotMarried" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:choice>
										<xs:element name="NeverMarried" minOccurs="1" maxOccurs="1">
										<xs:complexType/>
										</xs:element>
														<xs:element name="DivorceDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
															<xs:annotation>
															    <xs:documentation>
																	This property contains the date of the divorce.
															    </xs:documentation>
															</xs:annotation>
														</xs:element>
												
										
														<xs:element name="WidowshipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
															<xs:annotation>
															    <xs:documentation>
																	This property contains the date of widowship.
															    </xs:documentation>
															</xs:annotation>
														</xs:element>
												
										
									</xs:choice>
								</xs:complexType>
								</xs:element>
								<xs:element name="Undetermined" minOccurs="1" maxOccurs="1">
								<xs:complexType/>
								</xs:element>
							</xs:choice>
						</xs:complexType>
						</xs:element>
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="OtherIDTypeType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to ID types other than national identity cards, passports, or driving licences.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
									<xs:element name="IDType" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
									<xs:element name="IDNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="LifeType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the life of a person.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Address" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
						
											<xs:element name="IsAlive" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
												<xs:annotation>
												    <xs:documentation>
														This property contains the boolean value (true or false) for whether the person is alive.
												    </xs:documentation>
												</xs:annotation>
											</xs:element>
									
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="CapacityToEnterRegisteredPartnershipType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the capacity to enter into a registered partnership of a couple.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="IntendedPartner" type="pdc:CapacityToMarryOrEnterRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="CanEnterRegisteredPartnership" type="pdc:CanMarryType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
		
		
			
			
		
		
			
		<xs:element name = "frmMaritalStatus" type="frmMaritalStatusType"/>
			<xs:complexType name="frmMaritalStatusType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form MaritalStatus.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="MaritalStatusType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmLife" type="frmLifeType"/>
			<xs:complexType name="frmLifeType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form Life.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="LifeType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmRegisteredPartnerShip" type="frmRegisteredPartnerShipType"/>
			<xs:complexType name="frmRegisteredPartnerShipType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form RegisteredPartnership.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="RegisteredPartnershipType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="DocumentInfoType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to information about a document. 
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
						<xs:element name="Kind" minOccurs="1" maxOccurs="1">
						<xs:complexType>
							<xs:choice>
								<xs:element name="DocumentFromCourtOrTribunal" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:choice>
										<xs:element name="CourtDecision" minOccurs="1" maxOccurs="1">
										<xs:complexType/>
										</xs:element>
										<xs:element name="DocumentEmanatingFromAPublicProsecutor" minOccurs="1" maxOccurs="1">
										<xs:complexType/>
										</xs:element>
										<xs:element name="DocumentEmanatingFromAClerkOfACourt" minOccurs="1" maxOccurs="1">
										<xs:complexType/>
										</xs:element>
										<xs:element name="DocumentEmanatingFromAJudicialOfficer" minOccurs="1" maxOccurs="1">
										<xs:complexType/>
										</xs:element>
													<xs:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
														<xs:annotation>
														    <xs:documentation>
																
														    </xs:documentation>
														</xs:annotation>
													</xs:element>
											
										
									</xs:choice>
								</xs:complexType>
								</xs:element>
								<xs:element name="AdministrativeDocument" minOccurs="1" maxOccurs="1">
								<xs:complexType/>
								</xs:element>
								<xs:element name="NotarialAct" minOccurs="1" maxOccurs="1">
								<xs:complexType/>
								</xs:element>
								<xs:element name="OfficialCertificateOnDocumentSignedByPerson" minOccurs="1" maxOccurs="1">
								<xs:complexType/>
								</xs:element>
													<xs:element name="DocumentDrawnUpByDiplomaticOrConsularAgent" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
														<xs:annotation>
														    <xs:documentation>
																This property contains a checkbox on whether the document is a document drawn up by a diplomatic or consular agent.
														    </xs:documentation>
														</xs:annotation>
													</xs:element>
											
								
							</xs:choice>
						</xs:complexType>
						</xs:element>
										<xs:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
											<xs:annotation>
											    <xs:documentation>
													This property contains the issue date of the document.
											
											    </xs:documentation>
											</xs:annotation>
										</xs:element>
								
						
									<xs:element name="ReferenceNumber " type="udt:TextType" minOccurs="1" maxOccurs="1" >
											
											    					<xs:annotation>
											
											    					    <xs:documentation>
											
											    							This property contains the reference number of the document.
											
											    					    </xs:documentation>
											
											    					</xs:annotation>
											
											    				</xs:element>
											
											    		
											
											    	
											
											    
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="AbsenceOfCriminalRecordType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the absence of a criminal record of a person. 
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:AbsenceOfCriminalRecordPersonType" minOccurs="1" maxOccurs="1"/>
						
									<xs:element name="IdentityNumber" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												This property contains the identity number. 
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
						<xs:element name="IDTypeAndNo" minOccurs="1" maxOccurs="1">
						<xs:complexType>
							<xs:choice>
											<xs:element name="NationalIdentityCardNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
												<xs:annotation>
												    <xs:documentation>
														This property contains the number of the national identity card.
												    </xs:documentation>
												</xs:annotation>
											</xs:element>
									
								
											<xs:element name="PassportNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
												<xs:annotation>
												    <xs:documentation>
														This property contains the passport number.
												    </xs:documentation>
												</xs:annotation>
											</xs:element>
									
								
											<xs:element name="DrivingLicenceNo" type="udt:TextType" minOccurs="1" maxOccurs="1" >
												<xs:annotation>
												    <xs:documentation>
														This property contains the driving licence number.
												    </xs:documentation>
												</xs:annotation>
											</xs:element>
									
								
										<xs:element name="OtherIDType" type="OtherIDTypeType" minOccurs="1" maxOccurs="1" >
											<xs:annotation>
											    <xs:documentation>
													This property contains the name of another possible ID type.
											    </xs:documentation>
											</xs:annotation>
										</xs:element>
								
							</xs:choice>
						</xs:complexType>
						</xs:element>
											<xs:element name="AbsenceOfACriminalRecord" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
												<xs:annotation>
												    <xs:documentation>
														This property contains the boolean value (true or false) regarding the absence of a criminal record.
												    </xs:documentation>
												</xs:annotation>
											</xs:element>
									
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmCapacityToMarry" type="frmCapacityToMarryType"/>
			<xs:complexType name="frmCapacityToMarryType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form CapacityToMarry.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="CapacityToMarryType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmRegisteredPartnerShipStatus" type="frmRegisteredPartnerShipStatusType"/>
			<xs:complexType name="frmRegisteredPartnerShipStatusType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form RegisteredPartnershipStatus.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="RegisteredPartnerShipStatusType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="AdministrativeDocumentType">
					<xs:annotation>
					    <xs:documentation>
						
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
						<xs:element name="Certificate" minOccurs="1" maxOccurs="1">
						<xs:complexType/>
						</xs:element>
						<xs:element name="ExtractFromTheCivilStatusRegister" minOccurs="1" maxOccurs="1">
						<xs:complexType/>
						</xs:element>
						<xs:element name="ExtractFromThePopulationRegister" minOccurs="1" maxOccurs="1">
						<xs:complexType/>
						</xs:element>
						<xs:element name="VerbatimCopyOfCivilStatusRecords" minOccurs="1" maxOccurs="1">
						<xs:complexType/>
						</xs:element>
									<xs:element name="Other" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmDomicileAndOrResidence" type="frmDomicileAndOrResidenceType"/>
			<xs:complexType name="frmDomicileAndOrResidenceType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form DomicileAndOrResidence.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="DomicileAndOrResidenceType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="DomicileAndOrResidenceType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the domicile and/or residence of a person.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="ConcernedPerson" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Domicile" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
						
								<xs:element name="Residence" type="pdc:AddressType" minOccurs="0" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="DeathType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the death of a person.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:DeathPersonType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmBirth" type="frmBirthType"/>
			<xs:complexType name="frmBirthType">
					<xs:annotation>
					    <xs:documentation>
						 This class contains elements related to the form Birth.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmMarriage" type="frmMarriageType"/>
			<xs:complexType name="frmMarriageType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form Marriage.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="MarriageType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="BirthType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the birth of a person.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:BirthPersonType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="SignatureInfoType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the signature of the official handling the document.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
									<xs:element name="SurnameForenameOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												This property contains the surname and forename of the official.
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
									<xs:element name="PositionOfOfficial" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												This property contains the position of the official.
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
										<xs:element name="IssueDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
											<xs:annotation>
											    <xs:documentation>
													This property contains the issue data of the document.
											    </xs:documentation>
											</xs:annotation>
										</xs:element>
								
						
									<xs:element name="Signature" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												Although the signature field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
									<xs:element name="SealOrStamp" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xs:annotation>
										    <xs:documentation>
												Although the seal or stamp field is not really meaningful in the digital version of the form (unless it would contain a digital signature), this field has been introduced as a simple text element, to serve as a placeholder in the creation of a printable version of this form.  
										    </xs:documentation>
										</xs:annotation>
									</xs:element>
							
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="RegisteredPartnerShipStatusType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the registered partnership status of a person.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Person" type="pdc:MaritalOrRegisteredPartnershipStatusPersonType" minOccurs="1" maxOccurs="1"/>
						
						<xs:element name="RegisteredPartnershipStatus" minOccurs="1" maxOccurs="1">
						<xs:complexType>
							<xs:choice>
												<xs:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
													<xs:annotation>
													    <xs:documentation>
															This property contains the date of marriage.
													    </xs:documentation>
													</xs:annotation>
												</xs:element>
										
								
								<xs:element name="NotMarried" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:choice>
										<xs:element name="NeverMarried" minOccurs="1" maxOccurs="1">
										<xs:complexType/>
										</xs:element>
														<xs:element name="DivorceDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
															<xs:annotation>
															    <xs:documentation>
																	This property contains the date of the divorce.
															    </xs:documentation>
															</xs:annotation>
														</xs:element>
												
										
														<xs:element name="WidowshipDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
															<xs:annotation>
															    <xs:documentation>
																	This property contains the date of widowship.
															    </xs:documentation>
															</xs:annotation>
														</xs:element>
												
										
									</xs:choice>
								</xs:complexType>
								</xs:element>
								<xs:element name="Undetermined" minOccurs="1" maxOccurs="1">
								<xs:complexType/>
								</xs:element>
							</xs:choice>
						</xs:complexType>
						</xs:element>
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
		<xs:element name = "frmCapacityToEnterRegisteredPartnerShip" type="frmCapacityToEnterRegisteredPartnerShipType"/>
			<xs:complexType name="frmCapacityToEnterRegisteredPartnerShipType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form CapacityToEnterRegisteredPartnership.
								Stereotype xsdGlobalElement
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="Body" type="CapacityToEnterRegisteredPartnershipType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
			<xs:complexType name="FormHeaderType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to the form header of a form.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="Country" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="AuthorityIssuingForm" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="AuthorityIssuingDocument" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="DocumentInfo" type="DocumentInfoType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="SignatureInfo" type="SignatureInfoType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
		
		
			
			
			<xs:complexType name="MarriageType">
					<xs:annotation>
					    <xs:documentation>
						This class contains elements related to a marriage.
					    </xs:documentation>
					</xs:annotation>
				<xs:sequence>
								<xs:element name="SpouseA" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
								<xs:element name="SpouseB" type="pdc:MarriageOrRegisteredPartnershipPersonType" minOccurs="1" maxOccurs="1"/>
						
										<xs:element name="DateOfMarriage" type="udt:DateType" minOccurs="1" maxOccurs="1" >
											<xs:annotation>
											    <xs:documentation>
													This property contains the date of the marriage.
											    </xs:documentation>
											</xs:annotation>
										</xs:element>
								
						
								<xs:element name="PlaceOfMarriage" type="pdc:PlaceType" minOccurs="1" maxOccurs="1"/>
						
					
				</xs:sequence>
				
			</xs:complexType>
		
		
			
			
		
		
			
</xs:schema>
