generated/common/core/pdc-BasicComponents-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://urn:ec:ejustice:publicdocuments/pdc"
	xmlns="http://urn:ec:ejustice:publicdocuments/pdc"
	xmlns:cva="http://www.w3.org/ns/corevocabulary/AggregateComponents"	
	xmlns:cvb="http://www.w3.org/ns/corevocabulary/BasicComponents"	
	xmlns:cec="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:forms="http://urn:ec:ejustice:publicdocuments/forms"	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="0.1">
	<xs:annotation>	
		<xs:documentation xml:lang="en">
	        Public Documents XML schema 0.1
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com)
		</xs:documentation>
	</xs:annotation>
	<!-- ===== Imports======================================== -->
	<xs:import namespace="http://www.w3.org/ns/corevocabulary/AggregateComponents"
			   schemaLocation="../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-AggregateComponents-1.1.xsd"/>
	<xs:import namespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
			   schemaLocation="../external/Core_Vocabularies_XML_Schema_v1.1/xsd/CoreVocabularies-BasicComponents-1.1.xsd"/>
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../external/Core_Vocabularies_XML_Schema_v1.1/xsd/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<!-- ===================================================== -->
					<!-- ============================================================ -->
					<!-- Address-->
					<!-- uses Core Address --> 
					<!-- ============================================================ -->
					
					<xs:complexType name="AddressStreetPOBoxType">
						<xs:simpleContent>
							<xs:restriction base="cvb:AddressThoroughfareType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="AddressPlaceType">
						<xs:simpleContent>
							<xs:restriction base="cvb:AddressPostNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="AddressCountryType">
						<xs:simpleContent>
							<xs:restriction base="cvb:AddressAdminUnitLocationOneType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="AddressPostalCodeType">
						<xs:simpleContent>
							<xs:restriction base="cvb:AddressPostNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<!-- ============================================================ -->
					<!-- Person-->
					<!-- uses Core Person --> 
					<!-- ============================================================ -->
					
					<xs:complexType name="PersonSurnameType">
						<xs:simpleContent>
							<xs:restriction base="cvb:PersonFamilyNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="PersonSurnameAtBirthType">
						<xs:simpleContent>
							<xs:restriction base="cvb:PersonBirthNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="PersonForenameType">
						<xs:simpleContent>
							<xs:restriction base="cvb:PersonGivenNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="PersonDateOfBirthType">
						<xs:simpleContent>
							<xs:extension base="udt:DateType" />
						</xs:simpleContent>
					</xs:complexType>
					
					
					<xs:complexType name="PersonDateOfDeathType">
						<xs:simpleContent>
							<xs:extension base="udt:DateType" />
						</xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="PersonSexCodeListType">
					  <xs:simpleContent>
					    <xs:restriction base="cvb:GenderCode">
						 	<xs:enumeration value="female"/>
						 	<xs:enumeration value="male"/>
						 	<xs:enumeration value="undetermined"/>
					    </xs:restriction>
					  </xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="PersonSexType">
					  <xs:complexContent>
					    <xs:restriction base="PersonSexCodeListType">
					      <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="" />
					    </xs:restriction>
					  </xs:complexContent>
					</xs:complexType>
					
					
					<!-- ============================================================ -->
					<!-- Country-->
					<!-- uses Core Location --> 
					<!-- ============================================================ -->
					<xs:complexType name="CountryCodeCodeListType">
					  <xs:simpleContent>
					    <xs:restriction base="invalid">
						 	<xs:enumeration value="IT"/>
					    </xs:restriction>
					  </xs:simpleContent>
					</xs:complexType>
					
					<xs:complexType name="CountryCodeType">
					  <xs:complexContent>
					    <xs:restriction base="CountryCodeCodeListType">
					      <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="0.1" />
					    </xs:restriction>
					  </xs:complexContent>
					</xs:complexType>
					
					
					<xs:complexType name="CountryNameType">
						<xs:simpleContent>
							<xs:restriction base="cvb:LocationGeographicNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<!-- ============================================================ -->
					<!-- Authority-->
					 <!-- uses LegalEntity --> 
					<!-- ============================================================ -->
					
					<xs:complexType name="AuthorityDesignationType">
						<xs:simpleContent>
							<xs:restriction base="cvb:LegalEntityLegalNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<!-- ============================================================ -->
					<!-- Place-->
					<!-- uses Core Location --> 
					<!-- ============================================================ -->
					
					<xs:complexType name="PlaceNameType">
						<xs:simpleContent>
							<xs:restriction base="cvb:LocationGeographicNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
					<!-- ============================================================ -->
					<!-- Nationality-->
					 <!-- uses Jurisdiction --> 
					<!-- ============================================================ -->
					
					<xs:complexType name="NationalityNameType">
						<xs:simpleContent>
							<xs:restriction base="cvb:JurisdictionNameType">
								<xs:minLength value="0"  />
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
					
	
</xs:schema>
