generated/xsd/ms/formAustria/birthForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formAustria-1.0.xsd
    Generated On: 22/11/2017 17:20 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="ParentType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a person's parent.
				Stereotype birthForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="PersonType">
			<xsd:sequence>
									<xsd:element name="Surname(s)" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the surname or surnames of a person.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
									<xsd:element name="Forename(s)" type="udt:TextType" minOccurs="1" maxOccurs="1" >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the forename or fornames of a parent.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="BirthPersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a person being born.
				Stereotype birthForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="PersonType">
			<xsd:sequence>
							<xsd:element name="DataOnParents" type="ParentsType" minOccurs="1" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class Parents.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ParentsType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a person's parents.
				Stereotype birthForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="Mother" type="ParentType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Parent.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="Father" type="ParentType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Parent.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="FormBirthAustriaType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a birth form.
				Stereotype birthForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
						<xsd:element name="Header" type="ms2forms_commonPart:FormHeaderType" minOccurs="1" maxOccurs="1"/>
						
					<xsd:element name="Body" type="BirthType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Birth.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1" >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of any type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:complexType name="BirthType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the birth of a person.
				Stereotype birthForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="Person" type="BirthPersonType" minOccurs="1" maxOccurs="1" >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class BirthPerson.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

