generated/xsd/ms/formAustria/commonPart-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formAustria-1.0.xsd
    Generated On: 24/10/2017 17:21 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:forms="http://data.europa.eu/edm/1/ns/forms"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms"
			   schemaLocation="../../../xsd/common/core/forms-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<!-- ===================================================== -->
<xsd:complexType name="SpouseOrPartnerType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the former spouse or partner of the person concerned by the form.
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
				<xsd:element name="OtherNames" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AcademicQualificationsOrProfessionalTitles" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DocumentInfoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="forms:DocumentInfoType">
			<xsd:sequence>
				<xsd:element name="CourtOfIssue" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="IDTypeAndNoType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
		<xsd:element name="IssuingAuthority" type="pdc:AuthorityType" minOccurs="1" maxOccurs="1"/>
		<xsd:element name="ExpiryDate" type="udt:DateType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					The value of this property is of date type.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="DateOfIssue" type="udt:DateType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					The value of this property is of date type.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="IssuingState" type="pdc:CountryType" minOccurs="1" maxOccurs="1"/>
		
	</xsd:choice>
</xsd:complexType>
<xsd:complexType name="PersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		
				Stereotype commonPart
	    </xsd:documentation>
	</xsd:annotation>
	
	<xsd:complexContent>
		<xsd:extension base="pdc:PersonType">
			<xsd:sequence>
				<xsd:element name="AcademicQualificationsOrProfessionalTitles" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="LastMarriageOrRegisteredPartnership" type="forms:MaritalStatusType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="AcademicTitlePrefix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="FormerSpouseOrPartner" minOccurs="1" maxOccurs="1" type="FormerSpouseOrPartnerChoiceType">
				</xsd:element>
				<xsd:element name="LastPlaceOfResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="RegistrationOfBirth" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Mother" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Father" type="pdc:PersonType" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="AcademicTitleSuffix" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OtherNames" type="udt:TextType" minOccurs="1" maxOccurs="1" >
					<xsd:annotation>
					    <xsd:documentation xml:lang="en">
							The value of this property is of string type.
					    </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="TravelDocumentChoiceType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains elements related to the choice of travel document.
				Stereotype commonPart
				Stereotype xsdChoice
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:choice>
		<xsd:element name="AustrianCitizenNoDocument" type="udt:IndicatorType" minOccurs="1" maxOccurs="1" >
			<xsd:annotation>
			    <xsd:documentation xml:lang="en">
					The value of this property is of boolean type.
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="TravelDocument" minOccurs="1" maxOccurs="1" type="IDTypeAndNoType">
		</xsd:element>
		
	</xsd:choice>
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2017
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->
