generated/xsd/ms/formAustria/deathForm-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===== Schema Header ================================= -->
<!--	
	Document Type: xsd/ms/formAustria-1.0.xsd
    Generated On: 11/09/2018 16:17 
-->
<!-- ===================================================== -->
<xsd:schema
	targetNamespace="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns="http://data.europa.eu/edm/1/ns/forms/austria#"
	xmlns:pdc="http://data.europa.eu/edm/1/ns/pdc"	
	xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"	
	xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"	
	xmlns:ms2forms_commonPart="http://data.europa.eu/edm/1/ns/forms/commonpart#"	
	xmlns:ms2forms_maritalStatusForm="http://data.europa.eu/edm/1/ns/forms/frmmaritalstatus#"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="1.0">
	<!-- ===== Imports======================================== -->
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/pdc"
			   schemaLocation="../../../xsd/common/core/pdc-AggregatedComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
			   schemaLocation="../../../xsd/external/UBL-2.1/xsdrt/common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
			   schemaLocation="../../external/UBL-2.1/xsdrt/common/UBL-CommonExtensionComponents-2.1.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/commonpart#"
			   schemaLocation="../../../xsd/common/core/forms/commonPart-1.0.xsd"/>
	<xsd:import namespace="http://data.europa.eu/edm/1/ns/forms/frmmaritalstatus#"
			   schemaLocation="../../../xsd/common/core/forms/maritalStatusForm-1.0.xsd"/>
	<!-- ===================================================== -->
	<!-- ===== Includes======================================= -->
	<xsd:include schemaLocation="commonPart-1.0.xsd"/>
	
	<!-- ===================================================== -->
<xsd:complexType name="FormerSpouseOrPartnerType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the surviving partner of a marriage or registered partnership.
				Stereotype deathForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="PersonType">
			<xsd:sequence>
									<xsd:element name="FormerSpouseOrPartner" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												This property contains information of type string concerning the forename or fornames of a person.
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DeathPersonType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a deceased person.
				Stereotype deathForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:complexContent>
		<xsd:extension base="PersonType">
			<xsd:sequence>
												<xsd:element name="LastPlaceOfResidence" type="pdc:AddressType" minOccurs="1" maxOccurs="1"  />
												
										<xsd:element name="LastMariageOrRegisteredPartnership" type="ms2forms_maritalStatusForm:MaritalStatusType" minOccurs="1" maxOccurs="1"  />
										
							<xsd:element name="CivilStatusDataSurvivor" type="FormerSpouseOrPartnerType" minOccurs="0" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of the class FormerSpouseOrPartnerChoice.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
				
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DeathType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to the death of a person.
				Stereotype deathForm
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
					<xsd:element name="Person" type="DeathPersonType" minOccurs="1" maxOccurs="1"  >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class DeathPerson.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
							<xsd:element name="CourtDateNumberDeathDeclaration" type="udt:TextType" minOccurs="1" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										This property contains information of type string concerning the court, date and number of a declaration of death.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
<xsd:element name="FormDeathAustria" type="FormDeathAustriaType"/>
<xsd:complexType name="FormDeathAustriaType">
	<xsd:annotation>
	    <xsd:documentation xml:lang="en">
		This class contains properties related to a death form.
				Stereotype deathForm
				Stereotype xsdGlobalElement
	    </xsd:documentation>
	</xsd:annotation>
	<xsd:sequence> 
									<xsd:element name="Header" type="FormHeaderType" minOccurs="1" maxOccurs="1"  >
										<xsd:annotation>
										    <xsd:documentation xml:lang="en">
												The value of this property is of the class FormHeader. 
										    </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									
					<xsd:element name="Body" type="DeathType" minOccurs="1" maxOccurs="1"  >
						<xsd:annotation>
						    <xsd:documentation xml:lang="en">
								The value of this property is of the class Death.
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
								<xsd:element name="Footer" type="ms2forms_commonPart:SignatureInfoType" minOccurs="1" maxOccurs="1"  />
								
							<xsd:element name="Extension" type="ext:UBLExtensionsType" minOccurs="0" maxOccurs="1"  >
								<xsd:annotation>
								    <xsd:documentation xml:lang="en">
										The value of this property is of any type.
								    </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
		
	</xsd:sequence>
	
</xsd:complexType>
</xsd:schema>

<!-- ===== Copyright Notice ============================== -->
<!--
	        Public Documents XML schema 1.0
	        Copyright (C) European Union, 2018
	        Licensed under the ISA Open Metadata Licence
	        Original authors:
	        Suzanne Wigard (suzanne.wigard@ec.europa.eu),
	        Emidio Stani (emidio.stani@be.pwc.com),
	        Ioana Novacean (ioana.novacean@be.pwc.com),
	        Inge Gielis (inge.gielis@be.pwc.com),
			Arne De Proft (arne.de.proft@be.pwc.com)
-->
<!-- ===================================================== -->

